{block content}
<section class="articles_intro">
		<div class="container text-center">
			<h1>Články</h1>
			<p class="hero">
				Podívejte se na&nbsp;svět z&nbsp;jiného úhlu pohledu&hellip;
			</p>
		</div>
	</section>

	<section class="articles">
		<div class="container-fluid px-5">
			{include '../components/blog.latte'}
		</div>
	</section>
</section>
{/block}