{block content}
<section class="articles_intro articles_intro-history articles_intro-article">
	<div class="container text-center">
		<h1>Historie Padayātry</h1>
		<div class="author">
			<img src="{$basePath}/{=IMAGES_DIR}/people/Adrien.png" alt="Autor článku">
			<div class="name">
				Adrien Junga
			</div>
			<div class="date">
				27. ledna 2022
			</div>
		</div>
	</div>
</section>

<article>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Kroky k míru
					</h2>
					<p>
						1. června roku 1990 vyrazil z Belfastu v severním Irsku na cestu mírový pochod doprovázený volským povozem, který se jmenoval "Padayatra - Walk for Peace" (v překladu: Pádajátrá - Pochod za mír). Skupinka 60 poutníků z celé Evropy se vydala na tříměsíční pouť do Corku, jako nenásilný protest proti bojům, které se odehrávaly mezi protestanty a katolíky. Pochod slavil velký úspěch, místní média ho označila za "první průvod, který neskončil násilím", což něco vypovídá o tehdejší situaci v Irsku.
					</p>
					<p>
						Díky tomuto úspěchu se Pádajátrá vydala na cestu do Moskvy, kam po letech putování Evropou dorazila v roce 1996. Na své cestě poutníci prošli například Francií, Španělskem, Itálií, Maďarskem, Slovenskem, Českou Republikou, Polskem a Ukrajinou. Čechami a Slovenskem pochod procházel v letech 1994 a 1995.
					</p>
					<p>
						Ještě před příchodem této evropské Pádajátry se v roce 1993 trojice nadšenců z ekologické farmy Krišnův dvůr rozhodla uspořádat pochod s vozem taženým volkem Džívou do Českých Budějovic. Tam na výstavě "Země živitelka" propagovali farmu a její duchovní hodnoty. 
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/1993.jpg" alt="1993" class="image">
					<p>
						Hlavním organizátorem byl Robert Vrkoč, který nějaký čas strávil na podobných pochodech v Indii, které ho inspirovaly. O rok později dorazila evropská Pádajátrá na Slovensko a Robert se ujal role "domorodého" průvodce. Když v roce 1995 Pádajátrá opustila Čechy směrem do Moskvy, rozhodl se s Pádajátrou v Čechách pokračovat a tak se zrodila tradice, která trvá dodnes.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Kořeny Padayātry
					</h2>
					<p>
						Pádajátrá má své počátky v Indii, kde se takto říkalo poutním cestám, které sloužily k duchovnímu obohacení svých účastníků. Na počátku šestnáctého století se Šrí Čaitanja Maháprabhu, velký učenec a reformátor, vydal na Pádajátru z Bengálska do Jižní Indie. Maháprabhu zavedl jedinečný způsob mírové demonstrace, zvaný sankírtan - společné zpívání Božích jmen.
					</p>
					<p>
						Indie byla v té době pod nadvládou muslimů a Maháprabhuovi se díky sankírtanu podařilo sjednotit hinduisty a muslimy, kteří upustili od vzájemného nepřátelství. Dodnes žijí v Majápuru, rodišti Čaitanji Maháprabhua, muslimské a hinduistické rodiny vedle sebe v míru. Na své Pádajátře po Jižní Indii Maháprabhu šířil stejný proces, kterým sjednotil příslušníky dvou vyznání v Bengálsku.
					</p>
					<p>
						Šrí Čaitanja Maháprabhu byl velký učenec, reformátor a propagátor bhakti jógy - spojení s Bohem skrze oddanou službu Jemu. Je také přijímán jako avatár Krišny. Měl hodně následovníků a přední z nich jeho učení sepsali do mnoha knih. V roce 1582 byla vyslána historicky první Pádajátrá s volským povozem z Vrindávanu nedaleko Nového Dilí, do Majápuru v Západním Bengálsku. Volský povoz převážel knihy Maháprabhuových žáků. Doprovod poutníků tvořila ozbrojená jednotka džaipurského krále, která měla dohlédnout na to, aby knihy v pořádku dorazily do cíle.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Za oceán do celého světa
					</h2>
					<p>
						V roce 1965 vyplul sedmdesátiletý džentlemen z Indie do Ameriky. Vezl s sebou jen několik knih, pár pencí v kapse a poselství lásky ve svém srdci. Přistál v New Yorku během vrcholu revoluční alternativní kultury šedesátých let a zažehl celosvětovou duchovní renesanci, která vedla k vytvoření Mezinárodní společnosti pro vědomí Krišny (ISKCON). Jmenoval se A. Č. Bhaktivédánta Svámí (později spíše známý jako Prabhupáda) a na Západ se vydal z popudu svého duchovního učitele, aby mírové poselství lásky Šrí Čaitanji Maháprabhua přinesl za hranice Indie.
					</p>
					<p>
						Prabhupáda otevřel přes sto chrámů, farem a ášramů po celém světě. Založil i nakladatelství Bhaktivedanta Book Trust, které je celosvětově předním vydavatelem védské literatury. Prabhupádovým snem bylo vydat se na cestu s volským povozem a cestovat mezi městy a vesnicemi. Za doprovodu sankírtanu - očistného procesu zavedeného Šrí Čaitanjou Maháprabhuem - se chtěl s lidmi dělit o jednodušší způsob života, blíže k přírodě a s Bohem ve středu.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/na-voze.jpeg" alt="SP na Padayatrovém voze" class="image">
					<p>
						Prabhupádovi se myšlenka Pádajátry velice líbila. Říkal, že takovýchto volských povozů můžeme představit milióny po celém světě. Jeho vizi Pádajáter v současnosti naplňuje jeho žák Lokanát Svámí, který je také pádajátrovým ministrem ISKCONu. Z jeho iniciativy se už uskutečnilo mnoho Pádajáter po celém světě, včetně šestiletého Pochodu za mír z Belfastu do Moskvy. V roce 1993 navštívil první českou Pádajátru a vyjádřil se o ní, že je nejmenší Pádajátrou na světě. Od té doby je česká Pádajátra celosvětovou stálicí a kromě indických Pádajáter (které jdou bez přestávky) je jediná, která se koná každý rok (byť třeba v menší podobě).
					</p>
					<p>
						Přidejte se k Pádajátře a udržte tuto tradici v pohybu!
					</p>
					<div class="text-center final-buttons">
						<a n:href="Tour:forParticipiants" class="btn">Chci se zapojit</a>
						<a n:href="Article:default" class="btn btn-outline">zpět na všechny články</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>
{/block}