{block content}
<section class="articles_intro articles_intro-animals articles_intro-article">
	<div class="container text-center">
		<h1>Člověk & zvířata</h1>
		<div class="author">
			<img src="{$basePath}/{=IMAGES_DIR}/people/Adrien.png" alt="Autor článku">
			<div class="name">
				Adrien Junga
			</div>
			<div class="date">
				27. ledna 2022
			</div>
		</div>
	</div>
</section>

<article>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Význam volů na Padayātře
					</h2>
					<p>
						Naši voli jsou jednou z hlavních atrakcí Pádajátry, ale nejsou tu jen proto, aby nám udělali pěknou reklamu. Přítomnost volů na Pádajátře je úzce spjata s její ústřední myšlenkou - mír může nastat pouze tehdy, když pochopíme, že všechny živé bytosti jsou si na duchovní úrovni rovnocenné, bez ohledu na vnější těla, která obývají.
					</p>
					<p>
						Vesmír se řídí zákony, které ho neustále udržují v rovnováze. Jedním z nich je i zákon karmy - neboli následků za naše činy. Proces karmy můžeme vnímat ve vztazích, ve fyzikálních zákonech (zákon o zachování energie), ale i ve společnosti jako takové.
					</p>
					<p>
						Tento princip funguje bez ohledu na to, jestli v něj věříme, nebo ho uznáváme. Například když dáme ruku do ohně, spálíme se. Nebo když se k někomu zachováme špatně, vztah s danou osobou je trvale poškozen a je třeba dalšího úsilí (často mnohonásobně většího), aby se napravil. Když zloděj něco ukradne, jde kvůli tomu do vězení.
					</p>
					<p>
						Války a násilí jsou jen následky našeho špatného jednání nejen vůči lidem, ale i všem ostatním živým bytostem. Zabíjení zvířat je tedy jedna z hlavních příčin válek a násilí. Pokud budeme zabíjet zvířata, bude existovat násilí, i kdybychom vytvořili nekonečné množství organizací typu OSN. A toto zabíjení neskončí, dokud nebudou zvířata ochráněna a v případě těch domacích i přirozeně zaměstnána.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/volci.jpg" alt="Volci" class="image">
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Kráva a býk – členové rodiny
					</h2>
					<p>
						Na hovězím dobytku je v dnešní době pácháno obrovské násilí. A přitom ve védské kultuře byla kráva chráněna, protože byla považována za jednu z našich matek:
						<ol>
							<li>rodná matka</li>
							<li>chůva</li>
							<li>manželka kněze</li>
							<li>manželka krále</li>
							<li>manželka duchovního učitele</li>
							<li>Země</li>
							<li>kráva</li>
						</ol>
					</p>
						
					<p>
						Všem těmto matkám se vzdávala úcta. Podobně býk byl ctěn jako náš otec - protože díky práci, kterou vykonal na poli, lidé získali obživu v podobě obilí. Krávy a býci byli ochraňováni a nepřicházelo v úvahu, že by byli posláni na jatka. Tak jako nezabijeme své biologické rodiče, neměli bychom zabíjet ani krávu a býka. Naopak, měli bychom se o ně s láskou starat až do jejich přirozené smrti.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/volci02.jpg" alt="Volci" class="image">
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Ochrana krav
					</h2>
					<p>
						První zásadou ochrany krav je překvapivě zaměstnání a využití volů. Obvykle je hlavní přínos hovězího dobytka spatřován v produkci mléka. Aby kráva mohla dávat mléko, musí mít nejdříve tele. Některá telata jsou býčci, kteří mléko neprodukují a proto jsou pro malé farmáře i pro velkochovy přítěž, podobně jako krávy, u kterých se sníží dojivost. Tato "nepotřebná" zvířata jsou nemilosrdně poslána na jatka.
					</p>
					<p>
						Někteří lidé navrhují, že projev skutečné úcty k domácím zvířatům je vypustit je volně do přírody a dát jim plnou svobodu. Odkazují se na prapředky domácích zvířat, kteří žili volně v přírodě a postupně byli domestikováni. Ať už byly krávy původně divoké nebo ne, dnešní plemena jsou závislá na lidské péči a kdybychom je nechali napospas divočině, jenom bychom jim tím uškodili. Řešením tedy není naprostá negace stávajícího stavu, ale přeorganizování priorit.
					</p>
					<p>
						Řešením je obrátit celý systém - nechovat krávy k produkci mléka, kdy jsou vedlejším produktem telata, ale chovat krávy proto, aby každá rodinná farma měla tým volů, s mlékem jako vedlejším produktem. Lokalizovaná produkce je pro tento způsob hospodaření vhodnější než centralizované velkochovy.
					</p>
					<p>
						Nebude přebytek mléka ani telat. Voli budou venku na pastvě jednoduše jíst, přirozeně zúrodňovat půdu a zaměstnají své silné svaly v prospěšné práci. Takto farmář ušetří náklady za traktor, palivo a hnojivo. Přeruší se koloběh zabíjení a nebude docházet k válkám, protože lidé budou žít vyvážený život prostý vykořisťování.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Adoptujte volka
					</h2>
					<p>
						Jedním z cílů Pádajátry je ukázat ochranu krav a volů v praxi. Jelikož je ale dnešní svět nastavený úplně opačně, bude třeba hodně úsilí, potu a peněz, abychom dosáhli podstatnějších výsledků. Jsme odhodlaní dát úsilí a pot, ale co se týká financí, závisíme na vaší pomoci. Pravidelným příspíváním na naše voly nám pomůžete pokrýt nutné výdaje na krmení, ustájení a údržbu vybavení. 
					</p>
					<p>
						Zároveň budeme schopni vytvořit finanční odrazový můstek, abychom mohli zaopatřit osobu, která s voly bude pracovat. Až se takovýto “volák” bude moci výhradně soustředit na práci s voly, zaměříme se na to, aby si voli na sebe vydělali sami.
					</p>
					<div class="text-center final-buttons">
						<a n:href="Tour:forParticipiants" class="btn">Chci se zapojit</a>
						<a n:href="Article:default" class="btn btn-outline">zpět na všechny články</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</article>
{/block}