{block content}
<section class="articles_intro articles_intro-peace articles_intro-article">
	<div class="container text-center">
		<h1>Kroky k míru</h1>
		<div class="author">
			<img src="{$basePath}/{=IMAGES_DIR}/people/Adrien.png" alt="Autor článku">
			<div class="name">
				Adrien Junga
			</div>
			<div class="date">
				27. ledna 2022
			</div>
		</div>
	</div>
</section>

<article>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Symbolika pochodu
					</h2>
					<p>
						Pádajátrá v sanskritu znamená "pěší pouť" (páda = noha, yátrá = cesta). Už od nepaměti se lidé vydávali na poutní cesty, aby našli sebe sama a sdíleli své objevy s ostatními.
					</p>
					<p>
						Jednoduché žití, hluboké myšlení - poutní cesta je návrat ke kořenům. Když vykročíme ze dveří, necháváme za sebou všední starosti i pohodlí domova a máme klid a čas přemýšlet o základních životních otázkách: "Kdo jsem? Jaký je smysl života?"
					</p>
					<p>
						Získání nadhledu - na poutní cestě získáváme nadhled - můžeme se na svůj život podívat s odstupem a díky tomu vidět širší souvislosti a řešení.
					</p>
					<p>
						Jednota v rozmanitosti - poutní cesta svede dohromady lidi, kteří by se jinak nepotkali, ale spojuje je touha po duchovním obohacení. Pádajátrá k tomu dodává další rozměr - jde s námi i volský povoz, který symbolizuje soužití člověka a zvířat založené na spolupráci a ne vykořisťování.
					</p>
					<p>
						Sdílení s ostatními - k poutní cestě patří i sdílení svých zážitků a zkušeností s ostatními poutníky i lidmi, které potkáme.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/povoz.jpg" alt="Volský povoz" class="image">
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Příčina násilí
					</h2>
					<p>
						Po světě se pořádá mnoho pochodů za mír nebo proti válkám a násilí, ale trvalá stabilita je v nedohlednu. My se na rozdíl od většiny těchto iniciativ zaměřujeme na příčinu problému, ne na jeho následek. Násilí, války a konflikty obecně jsou jen následkem toho, že moderní společnost považuje za smysl života uspokojování těla.
					</p>
					<p>
						Díky nedostatku poznání jsme přesvědčeni, že smyslem života je ekonomický a vědecký rozvoj. Pokud ale pečujeme pouze o své tělo, nikdy nebudeme šťastní. Je to jako bychom měli kanárka, a místo abychom ho krmili, leštili bychom jeho klícku. Kanárek bude hladovět a nakonec zemře.
					</p>
					<p>
						Ve světě je nedostatek vzdělání o našem vlastním já - o duši. Jelikož se ztotožňujeme s tělem, myslíme si, že patříme k určité rase, náboženství, společnosti atd. Na základě těchto označení dochází ke konfliktům mezi členy jednotlivých skupin - muslimové bojují s křesťany, lidé se světlou barvou pleti bojují s lidmi s tmavou pletí, kapitalisté bojují s komunisty atd..
					</p>
					<p>
						Cílem Pádajátry je přitažlivým způsobem vzdělávat lidi o rozdílu mezi duší a tělem a tímto způsobem předejít konfliktům ještě před jejich vznikem. Naše poselství je založeno na moudrosti předávané v učednické posloupnosti zralých mistrů a žáků, kteří uznali jeho hodnotu na základě vlastní zkušenosti. Žádáme lidi, aby také udělali tento pokus a přesvědčili se o hodnotě tohoto poznání o vlastním já.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Očista srdce
					</h2>
					<p>
						Pro správné pochopení duchovního poznání musíme očistit naše srdce a mysl. Na Pádajátře to děláme jednoduchým způsobem: zpíváním Hare Krišna Mahámantry. “Mantra” znamená "osvobodit mysl" a “mahá” značí vyjímečnost. Zpívání manter se obecně doporučuje k uklidnění mysli.
					</p>
					<p>
						Hare Krišna Mahámantra kromě toho očišťuje naše srdce od hněvu, závisti a dalších špatných vlivů, které nám brání v realizaci vlastního já. Mahámantra je vyjímečná, protože má příznivý vliv nejen na toho, kdo ji zpívá, ale i na všechny, kteří ji slyší. Každý, kdo potká Pádajátru, z toho tedy získává prospěch, i když nemusí vědět, o co jde.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/pochod.jpg" alt="Pochod" class="image">
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Zážitek pro všechny
					</h2>
					<p>
						Pádajátra je nezapomenutelný zážitek jak pro ty, kteří se jí zúčastní, tak i pro ty, kteří ji potkají, nebo kteří přijdou na večerní vystoupení. Účastníci pochodu mají jedinečnou příležitost strávit čas se spřízněnými dušemi, které se snaží žít své životy na základě celistvého pochopení světa a jeho zákonů.
					</p>
					<p>
						Každý den je jedno velké dobrodružství plné zpěvu, tance, vydatného jídla a především setkání a sdílení s ostatními. S veřejností se hlavně dělíme o dobrou náladu a poznání o duši. Tuto moudrost nabízíme v podobě knih, které od nás můžete získat jak během pochodu, tak i během večerního vystoupení.
					</p>
					<p>
						Hlavní myšlenkou Pádajátry je, že věci, které nás často rozdělují, jsou ve své podstatě dočasné. Pádajátrá je tedy festival určený pro všechny, bez ohledu na věk, barvu pleti nebo náboženské vyznání.
					</p>
					<p>
						Chcete se zúčastnit tohoto jedinečného festivalu? Pojďte s námi! Můžete se k nám přidat každý den v 9:30 a jít s námi zhruba 4 hodinový pochod do naší další zastávky. Těšíme se na Vás!
					</p>
					<div class="text-center final-buttons">
						<a n:href="Tour:forParticipiants" class="btn">Chci se zapojit</a>
						<a n:href="Article:default" class="btn btn-outline">zpět na všechny články</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</article>	
{/block}