{block content}
<section class="articles_intro articles_intro-culture articles_intro-article">
	<div class="container text-center">
		<h1>Kultura duše</h1>
		<div class="author">
			<img src="{$basePath}/{=IMAGES_DIR}/people/Adrien.png" alt="Autor článku">
			<div class="name">
				Adrien Junga
			</div>
			<div class="date">
				27. ledna 2022
			</div>
		</div>
	</div>
</section>

<article>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Zábava s bonusem
					</h2>
					<p>
						V místech, kde Pádajátrá zůstává do druhého dne, pořádáme od 18:00 kulturní vystoupení. Slovo kultura pochází ze starověkého Říma a původně to bylo označení pro "péči o duši". Jelikož v dnešní době není ustanovená jasná definice pro duši, jsou také různé názory na to, co je vlastně kultura.
					</p>
					<p>
						Někdy jde dokonce pouze o komerci a způsob získání peněz a původní účel kultury - pozvednout duši - je ztracený. Snažíme se proto vrátit ke kořenům a nabídnout vám kulturní zážitek s hlubším významem.
					</p>
					<p>
						Následujeme kulturu, která je popsaná ve Védách - nadčasových textech dávného východu. Védská kultura je výjimečná, protože jako jediná na světě přímo vychází z poznání o rozdílu mezi tělem a duší.
					</p>
					<p>
						Toto poznání se odráží ve všech prvcích védského života, a proto jsme si tuto kulturu vybrali jako náš vzor a inspiraci. Její zbytky se nejvíce zachovaly na území dnešní Indie, ale svou podstatou je univerzální a jejími principy je možné se řídit v Evropě, v Africe, nebo třeba v Rusku.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Příčina násilí
					</h2>
					<p>
						Po světě se pořádá mnoho pochodů za mír nebo proti válkám a násilí, ale trvalá stabilita je v nedohlednu. My se na rozdíl od většiny těchto iniciativ zaměřujeme na příčinu problému, ne na jeho následek. Násilí, války a konflikty obecně jsou jen následkem toho, že moderní společnost považuje za smysl života uspokojování těla.
					</p>
					<p>
						Díky nedostatku poznání jsme přesvědčeni, že smyslem života je ekonomický a vědecký rozvoj. Pokud ale pečujeme pouze o své tělo, nikdy nebudeme šťastní. Je to jako bychom měli kanárka, a místo abychom ho krmili, leštili bychom jeho klícku. Kanárek bude hladovět a nakonec zemře.
					</p>
					<p>
						Ve světě je nedostatek vzdělání o našem vlastním já - o duši. Jelikož se ztotožňujeme s tělem, myslíme si, že patříme k určité rase, náboženství, společnosti atd. Na základě těchto označení dochází ke konfliktům mezi členy jednotlivých skupin - muslimové bojují s křesťany, lidé se světlou barvou pleti bojují s lidmi s tmavou pletí, kapitalisté bojují s komunisty atd..
					</p>
					<p>
						Cílem Pádajátry je přitažlivým způsobem vzdělávat lidi o rozdílu mezi duší a tělem a tímto způsobem předejít konfliktům ještě před jejich vznikem. Naše poselství je založeno na moudrosti předávané v učednické posloupnosti zralých mistrů a žáků, kteří uznali jeho hodnotu na základě vlastní zkušenosti. Žádáme lidi, aby také udělali tento pokus a přesvědčili se o hodnotě tohoto poznání o vlastním já.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Naše povaha
					</h2>
					<p>
						Ve Védách se říká, že povahou každé duše je věčná blaženost a poznání, a také že existuje zdroj všech živých bytostí a konečná příčina všeho. Těm, kteří chtějí naplnit svoji věčně blaženou povahu, se doporučuje vzdělávat se o této příčině všech příčin.
					</p>
					<p>
						Někteří jí říkají vesmír, jiní Bůh nebo příroda. Védy tento konečný zdroj ustanovují jako osobu a nazývají ho mnoha jmény, z nichž nejznámější je Krišna - "všepřitažlivý". Jádrem védské kultury je tedy rozvíjení vztahu živých bytostí ke konečnému zdroji, Krišnovi, a to je také onen hlubší význam našeho vystoupení.
					</p>
					<p>
						Připomínáme lidem, co už dávno zapomněli - podstatu svého vztahu s ostatními živými bytostmi založenou na jediném společném zdroji. Každý rys védské kultury je definovaný tímto vztahem mezi dušemi a jejich zdrojem - Krišnou.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container-xxl">
		<hr>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="text-center">
						Mozaika zážitků
					</h2>
					<h3>
						Kírtan
					</h3>
					<p>
						Naše vystoupení začíná a končí kírtanem - společným zpíváním manter doprovázeným hrou na tradiční nástroje a tancem. V kírtanu se zbavíme všech negativních zábran a uklidníme naši mysl.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/vystoupeni.jpg" alt="Vystoupení" class="image">
					<h3>
						Jídlo vařené s láskou
					</h3>
					<p>
						Každý má rád dobré jídlo, a proto je pro vás přípravená ochutnávka jídla vařeného s láskou. Jestliže milujeme zdroj všeho, Krišnu, automaticky milujeme i všechny jeho projevy. Jídlo vařené s tímto vědomím má pozitivní vliv na každého, kdo ho ochutná, a je jednoduše úžasné.
					</p>
					<h3>
						Královské poznání
					</h3>
					<p>
						S uklidněnou myslí se můžeme soustředit na hlubší témata o tom, kdo jsme, proč jsme tady, a odkud jsme sem přišli - část hlavního programu je přímo vyhrazená těmto myšlenkám. Během vystoupení je také kdykoli možné se zastavit u stanoviště “Zeptejte se mnicha” a popovídat si o těchto věcech s některým z účinkujících.
					</p>
					<h3>
						Divadlo
					</h3>
					<p>
						Součástí vystoupení je i divadlo. Lidé odjakživa milují příběhy a samotné Védy jsou plné příběhů s ponaučením. Naše divadlo vás určitě pobaví a zároveň donutí k zamyšlení.
					</p>
					<h3>
						Tanec Bharata Natjam
					</h3>
					<p>
						Je mnoho způsobů, jak vyprávět příběhy a tanec Bharata Natjam je jedním z nich. Původně se tancoval jen v chrámech pro potěšení Boha, kdy tanečnice a tanečníci buď předváděli složité technické sestavy, nebo tancem znázorňovali příběhy o velkých světcích a o Bohu.
					</p>
					<img src="{$basePath}/{=IMAGES_DIR}/clanky/vystoupeni02.jpg" alt="Vystoupení" class="image">
					<p>
						Kromě těchto hlavních částí vystoupení je pro vás připraveno mnoho dalších atrakcí jako třeba malování ozdobných ornamentů na obličej, prohlídka vozu a kartáčování volů (pokud mají dobrou náladu), soutěže o ceny a na závěr jsou připraveny "Létající banány".
					</p>
					<h3>
						Zachraňte Védy
					</h3>
					<p>
						Rádi bychom, aby se o poznání o duši, které je představeno ve Védách, dozvědělo co nejvíce lidí. Považujeme to za nejlepší způsob, jak být trvale šťastní a žít v souladu s ostatními. Toto poznání bohužel mizí ze světa a hrozí, že upadne v zapomnění. Prosíme vás proto, abyste pomohli zachovat Védy tím, že zakoupíte některou z našich knih. Tyto knihy obsahují esenci Véd a jsou návodem pro spokojený život.
					</p>
					<p>
						Nejvýznamnější z nich je Šrímad Bhágavatam - dvanácti dílná příběhová encyklopedie (do češtiny bylo přeloženo deset dílů), která je drahokamem Véd. Šrímad Bhágavatam je na Pádajátře dostupný pouze na našich večerních vystoupeních. Prosíme vás, abyste si vzali domů všech 10 dílů. Tím udržíte Védy v obecném povědomí a zároveň získáte kompletní návod k použití tohoto světa, jak se proplést jeho nástrahami a jak dovést svůj život k dokonalosti.
					</p>
					<div class="text-center final-buttons">
						<a n:href="Tour:forParticipiants" class="btn">Chci se zapojit</a>
						<a n:href="Article:default" class="btn btn-outline">zpět na všechny články</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</article>	
{/block}