{layout 'layout.latte'}
{block content}
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-title">{$form_title}</div>
                <div class="ibox-content">
                    {form form, class => "form-horizontal validate"}
                        <div class="form-group">
                            {label data-title, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-title" n:class="form-control, large, $form['data-title']->error ? error" />
                                {if $form['data-title']->error}{label data-title, class => "error" }{$form['data-title']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-priceReal, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-priceReal" n:class="form-control, tiny" />
                                    <span class="input-group-addon">Kč</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-priceGoal, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-priceGoal" n:class="form-control, tiny" />
                                    <span class="input-group-addon">Kč</span>
                                </div>
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}    
    
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
{/block}