{layout '../@layout.latte'}
{block main}
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2 n:block="title" class="main-title">Podpořte nás</h2>
	    </div>
	</div>
    <div class="wrapper wrapper-content animated fadeInRight">
        {include content}            
    </div>
{/block}