{layout 'layout.latte'}
{block content}
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content" n:snippet="records">
                    <table class="table table-striped table-bordered table-hover table-list" id="recordsTable" data-empty="Žádná místa" data-sorting="false">
                        <thead>
                            <tr>
                                <th class="noselect th-date" data-name="date">Jméno</th>
                                <th>Vybráno</th>
                                <th>Celková částka</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr n:foreach="$records as $record" data-id="{$record->id}" class="row-click-edit">
                                <td data-sort-value="{$record->title|webalize}">{$record->title}</td>
                                <td>{$record->priceReal}</td>
                                <td>{$record->priceGoal}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div id="formTitle" class="ibox-title">Úprava záznamu</div>
                <div class="ibox-content" n:snippet="recordForm">
                    {form form, class => "form-horizontal validate"}
                        <div class="form-group">
                            {label data-title, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-title" n:class="form-control, large, $form['data-title']->error ? error" />
                                {if $form['data-title']->error}{label data-title, class => "error" }{$form['data-title']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-priceReal, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-priceReal" n:class="form-control, tiny" />
                                    <span class="input-group-addon">Kč</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-priceGoal, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-priceGoal" n:class="form-control, tiny" />
                                    <span class="input-group-addon">Kč</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group mb-0">
                            <div class="col-sm-4 col-sm-offset-2">
                                {input edit, class => "btn btn-primary", disabled => "disabled", id => "recordSaveButton"}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">Celkové příspěvky</div>
                <div class="ibox-content">
                    {form supportForm, class => "form-horizontal validate ajax"}
                        <div class="form-group">
                            {label data-supportPriceReal, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-supportPriceReal" n:class="form-control, tiny" />
                                    <span class="input-group-addon">Kč</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-supportPriceGoal, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-supportPriceGoal" n:class="form-control, tiny" />
                                    <span class="input-group-addon">Kč</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                {input save, class => "btn btn-primary"}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}
<script> 
    $(document).ready(function() {
        initFooTable('#recordsTable', "Místo odstraněno.");

        $('#snippet--records').on('click', '.row-click-edit td', function(event) {
            $.get({link edit!}, {'record_id': $(this).closest('tr').data('id')},
                function (payload) {
                    $.nette.success(payload);
                    ID('recordSaveButton').disabled = false;
                }
            );
        });

        
        $('#snippet--recordForm').on('submit', '#frm-form', function(event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: $(this).serialize(),
                success: function(payload) {                   
                    $.nette.success(payload);
                    initFooTable('#recordsTable', "Preparace odstraněna.");
                }
            });
        });
    });  
</script>
{/block}