{layout 'layout.latte'}
{block content}
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-title">{$form_title}</div>
                <div class="ibox-content">
                    {form form, class => "form-horizontal validate"}
                        <div class="form-group">
                            {label data-place_date, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group date date-single">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{input data-place_date, class => "form-control small"}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-place, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-place" n:class="form-control, large, $form['data-place']->error ? error" />
                                {if $form['data-place']->error}{label data-place, class => "error" }{$form['data-place']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-place_genitive, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-place_genitive" n:class="form-control, large, $form['data-place_genitive']->error ? error" />
                                {if $form['data-place_genitive']->error}{label data-place_genitive, class => "error" }{$form['data-place_genitive']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-place_locative, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-place_locative" n:class="form-control, large, $form['data-place_locative']->error ? error" />
                                {if $form['data-place_locative']->error}{label data-place_locative, class => "error" }{$form['data-place_locative']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-accommodation, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-accommodation" n:class="form-control, large, $form['data-accommodation']->error ? error" />
                                {if $form['data-accommodation']->error}{label data-accommodation, class => "error" }{$form['data-accommodation']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-performance, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-performance" n:class="form-control, large, $form['data-performance']->error ? error" />
                                {if $form['data-performance']->error}{label data-performance, class => "error" }{$form['data-performance']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-note, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-note" n:class="form-control, large, $form['data-note']->error ? error" />
                                {if $form['data-note']->error}{label data-note, class => "error"}{$form['data-note']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label n:name="data-tent" class="col-sm-2 control-label i-checks-label noselect">Stan</label>
                            <div class="col-sm-1">
                                <input n:name="data-tent" class="i-checks" />
                            </div>
                            <label n:name="data-free_day" class="col-sm-2 control-label i-checks-label noselect">Odpočinkový den</label>
                            <div class="col-sm-2">
                                <input n:name="data-free_day" class="i-checks" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label n:name="data-shower" class="col-sm-2 control-label i-checks-label noselect">Sprcha</label>
                            <div class="col-sm-1">
                                <input n:name="data-shower" class="i-checks" />
                            </div>
                            <label n:name="data-move_flag" class="col-sm-2 control-label i-checks-label noselect">Pochod do dalšího města</label>
                            <div class="col-sm-2">
                                <input n:name="data-move_flag" class="i-checks" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label n:name="data-shower_bucket" class="col-sm-2 control-label i-checks-label noselect">Sprcha kýblem</label>
                            <div class="col-sm-1">
                                <input n:name="data-shower_bucket" class="i-checks" />
                            </div>
                            <label n:name="data-harinam_flag" class="col-sm-2 control-label i-checks-label noselect">Průvod městem</label>
                            <div class="col-sm-2">
                                <input n:name="data-harinam_flag" class="i-checks" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label n:name="data-accommodation_fee" class="col-sm-2 control-label i-checks-label noselect">Poplatek za ubytování</label>
                            <div class="col-sm-1">
                                <input n:name="data-accommodation_fee" class="i-checks" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                {input cancel, class => "btn btn-white"}
                                {if $presenter->getAction() == "edit"}
                                    {input edit, class => "btn btn-primary"}
                                {else}
                                    {input add, class => "btn btn-primary"}
                                {/if}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}    
    
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
{/block}