{layout '../@layout.latte'}
{block main}
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2 n:block="title" class="main-title">Turné</h2>
            <ol class="breadcrumb">
                <li{ifCurrent Tour:list} class="active"{/ifCurrent}><a n:href="Tour:list">Přehled</a></li>
                <li{ifCurrent Tour:add} class="active"{/ifCurrent}><a n:href="Tour:add">Přidat</a></li>
            </ol>
	    </div>
	</div>
    <div class="wrapper wrapper-content animated fadeInRight">
        {include content}            
    </div>
{/block}