{layout 'layout.latte'}
{block content}
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-content" n:snippet="records">
                    <table class="table table-striped table-bordered table-hover table-list" id="fooTable" data-empty="Žádná místa" data-sorting="false">
                        <thead>
                            <tr>
                                <th class="noselect th-date" data-name="date">Datum</th>
                                <th>Místo</th>
                                <th>Ubytování</th>
                                <th data-filterable="false" class="th-on-off-switch" data-type="html" id="column-activity">Aktivní</th>
                                <th data-filterable="false" data-sortable="false" data-name="controls" class="controls-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr n:foreach="$records as $record" data-id="{$record->id}">
                                <td data-sort-value="{$record->place_date}">{$record->place_date|date:'d.m.Y'}</td>
                                <td data-sort-value="{$record->place|webalize}" data-filter-value="{$record->place|webalize}">{$record->place}</td>
                                <td data-sort-value="{$record->accommodation|webalize}" data-filter-value="{$record->accommodation|webalize}">{$record->accommodation}</td>
                                <td data-sort-value="{$record->active}" data-filter-value="{$record->active}">
                                    <div class="switch active">
                                        <div class="onoffswitch">
                                            <input type="checkbox" n:attr="checked => $record->active == 1" onchange="change_activity({$record->id}, this.checked)" class="onoffswitch-checkbox" id="onoffswitch-person-{$record->id}">
                                            <label class="onoffswitch-label" for="onoffswitch-person-{$record->id}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>  
                                </td>
                                <td class="controls">  
                                    <a class="btn-control row-edit" n:href="edit, $record->id" title="edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn-control row-delete" data-delete_name="{$record->place}" n:href="delete, $record->id" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    {if $presenter->isAjax()}
                    <script>
                        initFooTable('#fooTable', "Místo odstraněno.");
                    </script>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-title">Informace o trase</div>
                <div class="ibox-content">
                    {form tourDataForm, class => "form-horizontal validate"}
                        <div class="form-group">
                            {label data-tourDateStart, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group date date-single">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{input data-tourDateStart, class => "form-control small"}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-tourDateFinish, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group date date-single">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{input data-tourDateFinish, class => "form-control small"}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-tourPlaceStart, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-tourPlaceStart" n:class="form-control, medium" />
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-tourPlaceFinish, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-tourPlaceFinish" n:class="form-control, medium" />
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-tourPlaceCount, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-tourPlaceCount" min="0" n:class="form-control, tiny" />
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-tourKilometres, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="input-group tiny">
                                    <input type="number" min="0" n:name="data-tourKilometres" n:class="form-control, tiny" />
                                    <span class="input-group-addon">km</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                {input save, class => "btn btn-primary"}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}


    <!-- Page-Level Scripts -->
    <script> 
        $(document).ready(function() {
            initFooTable('#fooTable', "Místo odstraněno.");
        });

        function change_activity(article_id, active) {
            $.get({link setActivity}, {'record_id': article_id, 'active': active})
        }        
    </script>
{/block}