{layout 'layout.latte'}
{block head}
    <link href="{$basePath}/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="{$basePath}/css/plugins/ckeditor/contents.css" rel="stylesheet">
{/block}
{block content}
    <div class="row">
        <div class="col-lg-12nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    {form pageForm, class => "form-horizontal"}
                        <div class="form-group">
                            {label data-title, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-title" n:class="form-control, medium, $form['data-title']->error ? error" />
                                {if $form['data-title']->error}{label data-title, class => "error" }{$form['data-title']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="form-group">
                            {label image, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <div class="fileinput fileinput-new input-group large" data-provides="fileinput">
                                    <div class="form-control large" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Vybrat soubor</span><span class="fileinput-exists">Změnit</span>{input image, accept => "image/*"}</span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Odstranit</a>
                                </div>
                                <div n:if="$page->image">
                                    <strong>Aktuální: </strong>{$page->image}
                                    <img class="image-preview-large" src="{$basePath}/{=IMG_FOLDER}/{=PAGE_FOLDER}/{$page->image}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {label data-image_vertical_position, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10 radio-buttons-container">
                                {foreach $form['data-image_vertical_position']->items as $key => $label}
                                    <div class="i-checks"><label n:name="data-image_vertical_position:$key"><input n:name="data-image_vertical_position:$key"> <i></i> {$label}</label></div>
                                {/foreach}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea n:name="data-text" n:class="form-control, large, $form['data']['text']->error ? error"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4">
                            {input update, class => "btn btn-primary small"}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}
{include parent}
    <!-- Jasny -->
    <script src="{$basePath}/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/js/plugins/iCheck/icheck.min.js"></script>    

    <script src="{$basePath}/js/admin/ckeditor/ckeditor.js"></script>
    
    <script src="{$basePath}/js/admin/ckeditor/config.js?v=33ff51"></script>
    <script src="{$basePath}/js/admin/ckeditor/styles.js?v=335fff1"></script>
    
    <script>	
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            
			CKEDITOR.timestamp='ABdfCD';
    		CKEDITOR.replace('frm-pageForm-data-text');
        });
	</script>
{/block}