{layout 'layout.latte'}
{block head}
{include parent}
    <script src="{$basePath}/js/jquery.form.min.js"></script>
{/block}
{block content}
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-title">{$form_title}</div>
                <div class="ibox-content">
                    {form form, class => "form-horizontal validate"}
                        <div class="form-group">
                            {label data-author, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <input n:name="data-author" n:class="form-control, medium, $form['data-author']->error ? error" />
                                {if $form['data-author']->error}{label data-author, class => "error" }{$form['data-author']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            {label data-text, class => "col-sm-2 control-label" /}
                            <div class="col-sm-10">
                                <textarea n:name="data-text" n:class="form-control, medium, $form['data-text']->error ? error" /></textarea>
                                {if $form['data-text']->error}{label data-text, class => "error" }{$form['data-text']->error}{/label}{/if}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                {input cancel, class => "btn btn-white"}
                                {if $presenter->getAction() == "edit"}
                                    {input edit, class => "btn btn-primary"}
                                {else}
                                    {input add, class => "btn btn-primary"}
                                {/if}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}    
    <!-- Jquery Validate -->
    <script src="{$basePath}/js/plugins/validate/jquery.validate.min.js"></script>

    <!-- Jasny -->
    <script src="{$basePath}/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Date picker -->
    <script src="{$basePath}/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    
    <!-- iCheck -->
    <script src="{$basePath}/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Forms -->
    <script src="{$basePath}/js/admin/forms.js"></script>
    <script src="{$basePath}/js/admin/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function(){
            CKEDITOR.plugins.registered['save'] = {
                init: function (editor) {
                    var command = editor.addCommand('save', {
                        modes: { wysiwyg: 1, source: 1 },
                        exec: function (editor) { // Add custom function for the save button
                            var form = $("form.validate");
                            if($(form).valid()) {
                                $(form).submit();
                            }
                        }
                    });
                    editor.ui.addButton('Save', { label: 'Save', command: 'save' });
                }
            }
    
            CKEDITOR.replace('frm-form-data-text');
        });
    </script>
{/block}