{layout 'layout.latte'}
{block head}
    <!-- FooTable -->
    <link href="{$basePath}/css/plugins/footable/footable.bootstrap.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="{$basePath}/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{/block}
{block content}
    <div class="row">
        <div class="col-lg-12 nopadding">
            <div class="ibox float-e-margins">
                <div class="ibox-content" n:snippet="records">
                    <table class="table table-striped table-bordered table-hover table-list" id="fooTable" data-empty="Žádné reference" data-sorting="false">
                        <thead>
                            <tr>
                                <th>Autor</th>
                                <th>Text</th>
                                <th data-filterable="false" class="th-on-off-switch" data-type="html" id="column-activity">Aktivní</th>
                                <th data-filterable="false" data-sortable="false" data-name="controls" class="controls-4"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr n:foreach="$records as $record" data-id="{$record->id}">
                                <td data-sort-value="{$record->author|webalize}" data-filter-value="{$record->author|webalize}">{$record->author}</td>
                                <td class="td-ellipsis">{$record->text|striptags|noescape}</td>
                                <td data-sort-value="{$record->active}" data-filter-value="{$record->active}">
                                    <div class="switch active">
                                        <div class="onoffswitch">
                                            <input type="checkbox" n:attr="checked => $record->active == 1" onchange="change_activity({$record->id}, this.checked)" class="onoffswitch-checkbox" id="onoffswitch-person-{$record->id}">
                                            <label class="onoffswitch-label" for="onoffswitch-person-{$record->id}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>  
                                </td>
                                <td class="controls">
                                    {if $record->position > 1}
                                        <a class="row-up ajax" n:href="updatePosition!, $record->id, $record->position-1"><span class="fa fa-arrow-up"></span></a>
                                    {else}
                                        <div class="blank-icon"><span class="fa fa-arrow-up"></div>
                                    {/if}
                                    {if $record->position + 1 <= $records->max('position')}
                                        <a class="row-down ajax" n:href="updatePosition!, $record->id, $record->position+1"><span class="fa fa-arrow-down"></span></a>
                                    {else}
                                        <div class="blank-icon"><span class="fa fa-arrow-down"></div>
                                    {/if}
                                    <a class="row-edit" n:href="edit, $record->id" title="edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="row-delete" data-delete_name="{$record->author}" n:href="delete, $record->id" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    {if $presenter->isAjax()}
                    <script>
                        initFooTable('#fooTable', "Reference odstraněna.");
                    </script>
                    {/if}
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}
    <!-- FooTable -->
    <script src="{$basePath}/js/plugins/footable/footable.min.js"></script>    
    
    <!-- Sweet alert -->
    <script src="{$basePath}/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Page-Level Scripts -->
    <script> 
        $(document).ready(function() {
            initFooTable('#fooTable', "Reference odstraněna.");
        });

        function change_activity(record_id, active) {
            $.get({link setActivity}, {'record_id': record_id, 'active': active})
        }        
    </script>
{/block}