<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Padayātrā &#8211; Putující festival</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
	<link rel="stylesheet" media="screen" href="{$basePath}/css/frontend.css" />
	<link rel="stylesheet" media="screen" href="{$basePath}/css/style.css" />
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
	<header id="header" class="px-3 px-lg-0">
		<nav class="navbar navbar-expand-lg">
	    	<a class="navbar-brand" href="{$basePath}"><img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="Padayātrā"></a>
	    	<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
	    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	      		<ul class="navbar-nav me-auto mb-3 mt-3 mb-lg-0 mt-lg-0">
	      			<li class="nav-item dropdown">
			          	<a class="nav-link dropdown-toggle" n:href="About:aboutUs" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            	O nás
			          	</a>
			          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            	<li><a class="dropdown-item" n:href="About:aboutUs">Kdo jsme</a></li>
			            	<li><a class="dropdown-item" n:href="About:performance">Večerní vystoupení</a></li>
			            	<li><a class="dropdown-item" n:href="About:ourOxen">Naši volci</a></li>
			          	</ul>
			        </li>
			        <li class="nav-item dropdown">
			          	<a class="nav-link dropdown-toggle" n:href="Tour:forParticipiants" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			            	Turné
			          	</a>
			          	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			            	<li><a class="dropdown-item" n:href="Tour:forParticipiants">Pro&nbsp;účastníky</a></li>
			            	<li><a class="dropdown-item" n:href="Tour:route">Trasa&nbsp;2021</a></li>
			          	</ul>
			        </li>
			        <li class="nav-item">
			          	<a class="nav-link" n:href="Homepage:contact">Kontakt</a>
			        </li>
	      		</ul>
		      	<div class="header-buttons">
		        	<a n:href="About:ourOxen#adoptujte-volka" class="adopt">Adoptujte volka</a>
		        	<a n:href="Homepage:support" class="support">Podpořte nás</a>
		      	</div>
	    	</div>
		</nav>
	</header>

	{include content}

	<footer id="footer">
		<div class="container">
			<div class="row text-center text-sm-start">
				<div class="col-12 col-xl-3 logo">
					<img src="{$basePath}/{=IMAGES_DIR}/logo-text-orange.svg" alt="Padayātrā &#8211; Putující festival">
				</div>
				<div class="col-sm-6 col-md-3 col-xl-2">
					<h3>Co je Padayātrā</h3>
					<ul>
						<li><a n:href="About:aboutUs">Kdo jsme</a></li>
						<li><a n:href="About:performance">Večerní vystoupení</a></li>
						<li><a n:href="About:ourOxen">Naši volci</a></li>
						<li><a n:href="Article:default">Články</a></li>
						<li><a href="{$basePath}/#reviews">Reference</a></li>
						<li><a href="">Pro&nbsp;média</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 col-xl-2">
					<h3>Chci se účastnit</h3>
					<ul>
						<li><a n:href="Tour:route">Trasa</a></li>
						<li><a n:href="Tour:forParticipiants">Informace pro&nbsp;účastníky</a></li>
						<li><a n:href="Homepage:support">Podpořte nás</a></li>
						<li><a n:href="About:ourOxen#adoptujte-volka">Adoptujte volka</a></li>
						<li><a n:href="Homepage:contact">Kontakt a&nbsp;časté dotazy</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 col-xl-2">
					<h3>Rychlé kontakty</h3>
					<ul>
						<li><a href="tel:+420737879641">+420&nbsp;737&nbsp;879&nbsp;641</a></li>
						<li><a href="mailto:info@padayatra.cz">info@padayatra.cz</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 col-xl-2">
					<h3>Sociální sítě</h3>
					<ul class="socials">
						<li><a target=_blank href="https://www.facebook.com/padayatracz/?ref=py_c&__xts__"><img src="{$basePath}/{=IMAGES_DIR}/icon/fb.svg" alt="Facebook"></a></li>
						<li><a target=_blank href="https://www.youtube.com/channel/UCjOICw_z3xH4BVsftZvdc7g"><img src="{$basePath}/{=IMAGES_DIR}/icon/yt.svg" alt="YouTube"></a></li>
						<li><a target=_blank href="https://www.instagram.com/padayatracz/"><img src="{$basePath}/{=IMAGES_DIR}/icon/ig.svg" alt="Instagram"></a></li>
					</ul>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-12 text-center">
					<a class="d-block d-md-inline" href="{$basePath}">©&nbsp;Pádajátrá&nbsp;{php echo date('Y')}</a>
					<span class="d-none d-md-inline">|</span> 
					<a class="d-block d-md-inline" n:href="Homepage:gdpr">Zpracování osobních údajů (GDPR)</a>
				</div>
			</div>
		</div>
	</footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.7.7/dist/index.bundle.min.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<script src="{$basePath}/js/fslightbox.js"></script>
<script src="{$basePath}/js/setupMapBox.js"></script>
<script src="{$basePath}/js/main.js"></script>

</html>

