@import "inspinia.css";
.col-xl-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1600px ) {
  .col-xl-6 {
    width: 50%;
    float: left;
  }
}
.mb-0 {
  margin-bottom: 0 !important;
}
.navbar-top-links li a {
  min-height: 0;
}
.navbar-top-links .logout-nav-button {
  padding-top: 10px;
  padding-bottom: 0;
}
.navbar-static-top {
  min-height: 0;
}
.navbar-minimalize {
  margin-top: 5px;
}
.wrapper-content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  #page-wrapper {
    margin-left: 181px;
  }
}
.row.padding-bottom {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .row .col-lg-12 {
    padding: 0;
  }
}
.nav-header {
  padding: 20px 15px;
}
.nav-header .img-circle {
  width: 85px;
  border-radius: 0;
  opacity: 0.9;
}
.navbar-static-top {
  margin-bottom: 0;
}
.navbar-static-top .logo {
  height: 28px;
  margin-top: -2px;
  opacity: 0.8;
}
.metismenu .fa {
  margin-left: 2.5px;
}
.metismenu .fa.fa-child {
  margin-left: 4px;
}
.nav-third-level li.active {
  border-left: 0;
}
ol.breadcrumb {
  margin-top: 18px;
  float: left;
}
ol.breadcrumb li.active {
  font-weight: bold;
}
.page-heading {
  padding-bottom: 5px;
}
.page-heading .main-title {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 56;
}
.page-heading .main-title:after {
  content: "/";
  margin-left: 5px;
  color: #CCCCCC;
}
.page-heading.slim {
  height: 66px;
}
.nopadding-right {
  padding-right: 0;
}
.main-ajax-spinner {
  opacity: 0;
  top: 5px;
  left: 3px;
  transition: 0.6s;
}
.main-ajax-spinner.visible {
  opacity: 1;
  transition: 0.6s;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.relative {
  position: relative;
}
.modal-lg {
  width: 1000px;
}
.panel-body .panel-heading {
  padding: 0;
}
.panel-body .panel-title {
  margin-top: 0;
  padding-top: 5px;
  font-weight: normal;
}
.panel-body .panel-title a {
  display: block;
  width: 100%;
  padding: 5px 15px 10px;
}
.panel-body .panel-group {
  margin-bottom: 0;
}
.panel-body .panel-filler {
  line-height: 0px;
  margin-top: -10px;
  visibility: hidden;
}
.ibox-content.clearfix {
  padding-bottom: 5px;
}
.ibox-content.past-divider {
  border-top: 2px #ed5565 dashed;
}
@media (max-width: 768px) {
  .ibox-content {
    overflow-x: scroll;
  }
}
.number-integer {
  width: 30px;
  text-align: right;
  float: left;
}
.number-delimiter {
  float: left;
}
.number-empty {
  width: 28px;
  text-align: right;
}
.number-decimal {
  float: left;
  color: rgba(103, 106, 108, 0.6);
}
#fountainG {
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
  width: 234px;
  height: 28px;
  margin: auto;
}
.fountainG {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
}
#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}
#fountainG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
#fountainG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
#fountainG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}
#fountainG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}
#fountainG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}
#fountainG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
#fountainG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}
@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -o-transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: #ffffff;
  }
}
.ibox-title .ibox-select {
  width: 200px;
  height: 25px;
  margin-top: -3px;
  margin-left: 10px;
  padding: 0;
  padding-left: 3px;
  float: left;
}
.ibox-title.empty {
  padding: 0;
  min-height: 0;
}
label.error {
  margin-bottom: 0px;
}
.week-input-container {
  width: 280px;
  float: left;
}
label.tiny-label {
  width: 41px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}
.i-checks-label {
  cursor: pointer;
}
div[class^='icheckbox_square'] {
  margin-top: 7px;
}
.i-checks .radiolist label {
  cursor: pointer;
  line-height: 20px;
}
.i-checks label {
  white-space: nowrap;
}
.textarea {
  border: 1px solid #e5e6e7;
  height: 100px !important;
}
.icheckbox_square-green {
  background-color: #FFFFFF !important;
  margin-right: 5px !important;
}
.iradio_square-green {
  margin-right: 5px !important;
  margin-left: 15px !important;
}
@media (min-width: 992px ) {
  .ibox-content .crop-previews-container {
    padding: 0;
  }
}
.ibox-content .crop-previews-container .img-crop-preview {
  width: 470px;
  height: 230px;
  background-size: cover;
  background-color: #DDDDDD;
}
.ibox-content .crop-previews-container .img-crop-mobile {
  width: 270px;
  height: 540px;
  background-size: cover;
  background-color: #DDDDDD;
}
.ibox-content .img-crop-master-preview {
  max-width: 100%;
  max-height: 600px;
  padding-right: 15px;
}
.form-group.padding-radio {
  padding-top: 29px;
}
.form-group.padding-checkbox {
  padding-top: 14px;
}
.image-preview-container {
  margin-top: 15px;
  margin-bottom: 10px;
}
.image-preview {
  width: 25%;
  max-width: 518px;
  margin-top: 4px;
  display: block;
}
.image-preview-small {
  width: 12.5%;
  max-width: 259px;
  margin-top: 4px;
  display: block;
}
.image-preview-large {
  width: 50%;
  max-width: 1036px;
  margin-top: 4px;
  display: block;
}
.tabs-container .tab-pane.height-hidden {
  height: 0;
  overflow: hidden;
}
.radio-buttons-container {
  padding-top: 8px;
  padding-left: 0;
}
#youtube_thumbnail {
  margin-top: 10px;
}
.ckeditor-textarea {
  min-height: 660px;
}
.select-box option[disabled] {
  background-color: #EEEEEE;
}
.ibox-content .tiny {
  width: 100px;
}
.ibox-content .small {
  width: 200px;
}
.ibox-content .medium {
  width: 300px;
}
.ibox-content .large {
  width: 400px;
}
.ibox-content .xlarge {
  width: 500px;
}
.ibox-content .xxlarge {
  width: 600px;
}
.in-table {
  height: 28px;
  padding: 1px 5px;
  margin: 5px;
}
.form-control-static {
  font-size: 14px;
}
.upload-control {
  padding: 0;
  border: 0;
}
.fileinput {
  margin-bottom: 0 !important;
}
.fileinput-disabled .form-control {
  background-color: #EEEEEE;
  cursor: not-allowed !important;
}
.fileinput-disabled .btn-file {
  background-color: #EEEEEE;
  cursor: not-allowed !important;
}
.datepicker-days .highlight {
  background-color: #fffa90;
}
.dot-delimiter {
  float: left;
  width: 20px;
  text-align: center;
  line-height: 42px;
  height: 32px;
}
.footable {
  visibility: hidden;
}
.table-list {
  visibility: hidden;
}
.table-list tr.row-click-edit {
  cursor: pointer;
}
.table-list td.actual {
  color: green;
}
.table-list td.past {
  color: red;
}
.table-list td.controls .blank-icon span {
  visibility: hidden;
}
.table-list td.controls .btn-control,
.table-list td.controls .blank-icon {
  font-size: 16px;
  margin-bottom: -10px;
  float: left;
  color: #2F4050;
}
.table-list td.controls .btn-control.row-delete,
.table-list td.controls .blank-icon.row-delete {
  font-size: 18px;
}
.table-list td.controls .btn-control:not(:last-child),
.table-list td.controls .blank-icon:not(:last-child) {
  margin-right: 3px;
}
.table-list td.controls .btn-control {
  cursor: pointer;
}
.table-list td.td-icon {
  padding-top: 6px;
  padding-bottom: 5px;
}
.table-list td.td-icon i.fa {
  font-size: 22px;
}
.table-list td.td-icon-small {
  padding-top: 8px;
  padding-bottom: 3px;
}
.table-list td.td-icon-small i.fa {
  font-size: 19px;
}
.table-list td .td-img-thumb {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border-radius: 3px;
}
.table-list td .td-img-thumb.ratio-16-10 {
  width: 30px;
  height: 19px;
}
.table-list td.center {
  text-align: center;
}
.table-list td.left {
  text-align: left;
  padding-left: 10px;
}
.table-list td.right {
  text-align: right;
  padding-right: 10px;
}
.table-list td.bold {
  font-weight: bold;
}
.table-list td.td-ellipsis {
  max-width: 20vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-list td.align-middle {
  vertical-align: middle;
}
.table-list td.td-audio-buttons {
  padding: 5px 0 5px 8px;
}
.table-list td.td-audio-buttons .btn {
  margin: 0;
  padding: 1px 6px;
}
.table-list thead th.controls {
  width: 73px;
  min-width: 73px;
}
.table-list thead th.controls-1 {
  width: 35px;
  min-width: 35px;
}
.table-list thead th.controls-2 {
  width: 55px;
  min-width: 55px;
}
.table-list thead th.controls-3 {
  width: 73px;
  min-width: 73px;
}
.table-list thead th.controls-4 {
  width: 90px;
  min-width: 90px;
}
.table-list thead th.controls-5 {
  width: 109px;
  min-width: 109px;
}
.table-list thead th.controls-6 {
  width: 128px;
  min-width: 128px;
}
.table-list thead th.controls-7 {
  width: 147px;
  min-width: 147px;
}
.table-list thead th.controls-8 {
  width: 166px;
  min-width: 166px;
}
.table-list thead tr.footable-filtering .form-inline .form-group > select {
  margin-top: -5px;
}
.table-list thead th,
.table-list tfood th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table-list thead th.wide,
.table-list tfood th.wide {
  width: 30% !important;
}
.table-list thead th.th-date,
.table-list tfood th.th-date {
  width: 84px;
}
.table-list thead th.th-datetime,
.table-list tfood th.th-datetime {
  width: 120px;
}
.table-list thead th.th-dateinterval,
.table-list tfood th.th-dateinterval {
  width: 125px;
}
.table-list thead th.th-date-nosort,
.table-list tfood th.th-date-nosort {
  width: 106px;
}
.table-list thead th.th-year,
.table-list tfood th.th-year {
  width: 65px;
}
.table-list thead th.th-on-off-switch,
.table-list tfood th.th-on-off-switch {
  width: 85px;
}
.table-list thead th.th-audio-buttons,
.table-list tfood th.th-audio-buttons {
  width: 72px;
}
.table-list thead th.th-thin,
.table-list tfood th.th-thin {
  width: 10px;
}
.table-list thead th.th-small,
.table-list tfood th.th-small {
  width: 115px;
}
.table-list thead th.th-medium,
.table-list tfood th.th-medium {
  width: 200px;
}
.table-list thead th.th-large,
.table-list tfood th.th-large {
  width: 400px;
}
.table-list thead th span.footable-sort-indicator,
.table-list tfood th span.footable-sort-indicator {
  display: inline !important;
}
.table-list .switch.active {
  margin-left: 8px;
}
.table-list .onoffswitch-label {
  margin-bottom: -2px;
}
.table-list .glyphicon-gold {
  color: #FFA500;
}
.table-list .glyphicon-blue {
  color: #0066CC;
}
.table-list .glyphicon-red {
  color: #CC3300;
}
.table-list .glyphicon-green {
  color: #339900;
}
.table-list .glyphicon-purple {
  color: #4E2A84;
}
.table-list .glyphicon-lol {
  color: #0e4a78;
}
.table-list .footable-detail-row .ajax-loading {
  display: block;
  margin: 0 auto;
}
tr.footable-detail-row .result-detail {
  margin: 0 20px 0px 15px;
}
tr.footable-detail-row .result-detail tr {
  height: 30px;
}
tr.footable-detail-row .result-detail tr th {
  width: 250px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}
tr.footable-detail-row .result-detail tr td {
  width: 100px;
}
.list-box {
  min-height: 188px;
}
.list-box .list-box-image {
  width: 273px;
  height: 145px;
  margin-right: 20px;
  background-size: auto 100%;
  background-position-x: right;
  transition: 0.2s;
}
.list-box .list-box-image.ratio-1-1 {
  width: 145px;
  height: 145px;
}
.list-box .list-box-image.before-after {
  width: 225px;
  float: left;
}
@media (max-width: 849px) {
  .list-box .list-box-image.before-after {
    margin-bottom: 20px;
  }
}
.list-box .list-box-image.disabled {
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .list-box .list-box-image {
    float: left;
  }
}
@media (max-width: 767px) {
  .list-box .list-box-content {
    margin-top: 20px;
    padding-left: 0;
  }
}
.list-box .list-box-content .list-box-hr {
  margin-top: 12px;
  margin-bottom: 12px;
}
.list-box .position-label {
  font-size: 1.1em;
  float: right;
}
.list-box .controls {
  margin-left: 5px;
  float: right;
}
.list-box .controls a {
  font-size: 18px;
  color: #1ab394;
}
.list-box .time {
  font-size: 12px;
  margin-top: 5px;
}
.list-box hr.thin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.jstree .jstree-node .jstree-anchor .jstree-icon {
  font-size: 18px;
  background-size: 20px 20px !important;
}
h1.clear {
  border-bottom: 1px solid #cacaca;
  width: 100%;
}
.list-group a:hover .label-error {
  background-color: #1ab394;
}
fieldset#upload {
  width: 500px;
  clear: both;
  margin-bottom: 20px;
}
fieldset#upload legend {
  margin-bottom: 0;
}
fieldset#upload #queue {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}
fieldset#upload a#upload_link {
  font-size: 16px;
  width: 250px;
  height: 33px;
  line-height: 19px;
  text-transform: uppercase;
  border-color: #606060;
  border-radius: 2px;
  color: #fff;
  margin-top: 5px;
  display: block;
  background-color: #606060;
}
fieldset#upload a#upload_link:hover {
  background-color: #555555;
}
#gallery_photos .photo-box,
#gallery_photos > div {
  width: 250px;
  height: 346px;
  float: left;
  margin: 0 10px 20px 10px;
  padding: 4px;
  border: 1px solid #e7eaec;
  -moz-transition: background-color 2s ease-in-out;
  -webkit-transition: background-color 2s ease-in-out;
  -o-transition: background-color 2s ease-in-out;
  -ms-transition: background-color 2s ease-in-out;
  transition: background-color 2s ease-in-out;
  cursor: move;
}
#gallery_photos .photo-box a.remove,
#gallery_photos > div a.remove {
  color: #ed5565;
  margin-top: -1px;
  display: block;
  float: left;
}
#gallery_photos .photo-box a.remove:hover,
#gallery_photos > div a.remove:hover {
  color: #cb3343;
}
#gallery_photos .photo-box a.remove span,
#gallery_photos > div a.remove span {
  font-size: 18px;
}
#gallery_photos .photo-box .fa,
#gallery_photos > div .fa {
  font-size: 18px;
  color: #2F4050;
}
#gallery_photos .photo-box .fa.fa-rotate-left,
#gallery_photos > div .fa.fa-rotate-left {
  margin-right: 8px;
}
#gallery_photos .photo-box span.dimensions,
#gallery_photos > div span.dimensions {
  float: right;
  text-align: center;
}
#gallery_photos .photo-box div.file-name,
#gallery_photos > div div.file-name {
  font-weight: bold;
  line-height: 20px;
  clear: both;
  height: 20px;
  text-align: center;
}
#gallery_photos .photo-box div.file-size,
#gallery_photos > div div.file-size {
  text-align: center;
}
#gallery_photos .photo-box .control-photo-description,
#gallery_photos > div .control-photo-description {
  width: 240px;
  font-size: 14px;
  height: 30px;
  margin-top: 4px;
}
#gallery_photos .photo-box .control-photo-description.loading,
#gallery_photos > div .control-photo-description.loading {
  background: url(../../images/admin/spinner.gif) no-repeat right center;
}
#gallery_photos .photo-box .control-photo-description::-webkit-input-placeholder,
#gallery_photos > div .control-photo-description::-webkit-input-placeholder {
  color: #999999;
  font-size: 13px;
}
#gallery_photos .photo-box .control-photo-description:-moz-placeholder,
#gallery_photos > div .control-photo-description:-moz-placeholder {
  color: #999999;
  font-size: 13px;
}
#gallery_photos .photo-box .control-photo-description::-moz-placeholder,
#gallery_photos > div .control-photo-description::-moz-placeholder {
  color: #999999;
  font-size: 13px;
}
#gallery_photos .photo-box .control-photo-description:-ms-input-placeholder,
#gallery_photos > div .control-photo-description:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
}
#gallery_photos .photo-box div.box,
#gallery_photos > div div.box {
  width: 240px;
  height: 210px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
#gallery_photos .photo-box div.box img,
#gallery_photos > div div.box img {
  max-width: 240px;
  max-height: 210px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#gallery_photos .photo-box.refresh,
#gallery_photos > div.refresh {
  background-color: #f8ac59;
  -moz-transition: background-color 0s ease-in-out;
  -webkit-transition: background-color 0s ease-in-out;
  -o-transition: background-color 0s ease-in-out;
  -ms-transition: background-color 0s ease-in-out;
  transition: background-color 0s ease-in-out;
}
#gallery_photos .droppable-area {
  background-color: rgba(200, 200, 200, 0.5);
  border: 1px #cdd56e dashed;
}
fieldset#galery_form select {
  margin-right: 5px;
}
fieldset#galery_form select:not(:first-child) {
  margin-left: 4px;
}
.albums_list .list-box-content hr {
  margin-top: 16px;
  margin-bottom: 16px;
}
.records_list .list-audio-player {
  width: 100%;
  margin-top: -4px;
  height: 30px;
  margin-bottom: -10px;
}
