<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>krsnafood.cz</title>
        <style>
            @media only screen and (max-width: 890px) {
                table[class=body] h1 {
                    font-size: 28px !important;
                    margin-bottom: 10px !important;
                }

                table[class=body] p,
                table[class=body] ul,
                table[class=body] ol,
                table[class=body] td,
                table[class=body] span,
                table[class=body] a {
                    font-size: 16px !important;
                }

                table[class=body] .wrapper,
                table[class=body] .article {
                    padding: 10px !important;
                }

                table[class=body] .content {
                    padding: 0 !important;
                }

                table[class=body] .container {
                    padding: 0 !important;
                    width: 100% !important;
                }

                table[class=body] .main {
                    border-left-width: 0 !important;
                    border-radius: 0 !important;
                    border-right-width: 0 !important;
                }
                
                table[class=body] .btn-responsive {
                    width: 100% !important;
                }

                img[class=actuality-img] {
                    width: 100% !important;
                }
            }

            /* -------------------------------------
            PRESERVE THESE STYLES IN THE HEAD
            ------------------------------------- */

            @media all {
                .ExternalClass {
                    width: 100%;
                }
                
                .ExternalClass,
                .ExternalClass p,
                .ExternalClass span,
                .ExternalClass font,
                .ExternalClass td,
                .ExternalClass div {
                    line-height: 100%;
                }

                .apple-link a {
                    color: inherit !important;
                    font-family: inherit !important;
                    font-size: inherit !important;
                    font-weight: inherit !important;
                    line-height: inherit !important;
                    text-decoration: none !important;
                }

                .target-button:hover {
                    color: #FFFFFF !important;
                    background-color: #2ca4ab !important;
                    transition: 0.2s !important;
                }
            }
        </style>
    </head>
    <body class="" style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
        <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
            <tr>
                <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; margin: 0 auto; max-width: 850px; padding: 10px; width: 850px;">
                    <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 850px; padding: 10px;">
                        <!-- START CENTERED WHITE CONTAINER -->
                        <div class="preheader" style="color: red; display: flex; height: auto; align-items: flex-end; justify-content: center;">
                            <a class="main-logo" style="width: 80%; max-width: 250px; text-align: center; margin-top: 20px; margin-bottom: 10px;" href="http://www.padayatra.cz" target="_blank"><img style="width: inherit;" src="http://{php echo $_SERVER['HTTP_HOST']}/{$basePath}/img/logo-text.png" /></a>
                        </div>
                        <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 5px; border: 1px #DDDDDD solid;">
                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                                        <tr>
                                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                                                {include content}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- END MAIN CONTENT AREA -->
                        </table>
                    </div>
                    <!-- START FOOTER -->
                    <div class="footer" style="clear: both; text-align: center; width: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                            <tr>
                                <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                                    <a href="http://www.padayatra.cz" target="_blank" class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">www.padayatra.cz</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- END FOOTER -->
                    <!-- END CENTERED WHITE CONTAINER -->
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>