{layout '@email-notification-layout.latte'}
{block content}
<table style="border-collapse: collapse;">
    <tbody>
        <tr>
            <td colspan="2">Nová zpráva z webu padayatra.cz</td>
        </tr>
        <tr>
            <td style="height: 15px" colspan="2"></td>
        </tr>
        <tr>
            <td>Jméno:</td><td>{$data->name}</td>
        </tr>
        <tr>
            <td>e-mail:</td><td>{$data->email}</td>
        </tr>
        <tr>
            <td style="vertical-align: top;">Zpráva:</td><td>{$data->text}</td>
        </tr>
    </tbody>
</table>
{/block}