<div class="row">
	<div class="col-sm-6 col-lg-4 col-xl-3">
		<a class="article hover-shrink" n:href="Article:history">
			<img src="{$basePath}/{=IMAGES_DIR}/historie-padayatry.jpg" alt="">
			<h3>Historie Padayātry</h3>
			<p>
				1.&nbsp;června roku 1990 vyrazil z&nbsp;Belfastu v&nbsp;severním Irsku na&nbsp;cestu mírový pochod doprovázený volským povozem, který se jmenoval&#8230;
			</p>
		</a>
	</div>

	<div class="col-sm-6 col-lg-4 col-xl-3">
		<a class="article hover-shrink" n:href="Article:peace" >
			<img src="{$basePath}/{=IMAGES_DIR}/kroky-k-miru.jpg" alt="">
			<h3>Kroky k&nbsp;míru</h3>
			<p>
				Pádajátrá v&nbsp;sanskritu znamená "pěší pouť" (páda&nbsp;=&nbsp;noha, yátrá&nbsp;=&nbsp;cesta). Už od&nbsp;nepaměti se lidé vydávali na&nbsp;poutní cesty, aby našli sebe&#8230;
			</p>
		</a>
	</div>

	<div class="col-sm-6 col-lg-4 col-xl-3">
		<a class="article hover-shrink" n:href="Article:soulCulture">
			<img src="{$basePath}/{=IMAGES_DIR}/kultura-duse.jpg" alt="">
			<h3>Kultura duše</h3>
			<p>
				V&nbsp;místech, kde Pádajátrá zůstává do&nbsp;druhého dne, pořádáme od&nbsp;18:00 kulturní vystoupení. Slovo kultura pochází ze&nbsp;starověkého Říma a&nbsp;původně&#8230;
			</p>
		</a>
	</div>

	<div class="col-sm-6 col-lg-4 col-xl-3">
		<a class="article hover-shrink" n:href="Article:manAndAnimals">
			<img src="{$basePath}/{=IMAGES_DIR}/clovek-a-zvirata.jpg" alt="">
			<h3>Člověk &&nbsp;zvířata</h3>
			<p>
				Naši voli jsou jednou z&nbsp;hlavních atrakcí Pádajátry, ale nejsou tu jen proto, aby nám udělali pěknou reklamu. Přítomnost volů na&nbsp;Pádajátře&#8230;
			</p>
		</a>
	</div>
</div>