{block content}
<section class="socials">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-sm-4">
				<a class="hover-shrink" target=_blank href="https://www.youtube.com/channel/UCjOICw_z3xH4BVsftZvdc7g">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/yt.png" alt="YouTube">
				</a>
			</div>
			<div class="col-sm-4">
				<a class="hover-shrink" target=_blank href="https://www.instagram.com/padayatracz/">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/ig.png" alt="Instagram">
				</a>
			</div>
			<div class="col-sm-4">
				<a class="hover-shrink" target=_blank href="https://www.facebook.com/padayatracz/?ref=py_c&__xts__">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/fb.png" alt="Facebook">
				</a>
			</div>
		</div>
	</div>
</section>
{/block}