{block content}
<section class="kdo-jsme_want-to-join">
	<div class="container-xxl px-3 text-center">
		<h2>Chcete se zapojit?</h2>
		<div class="row">
			<div class="col-sm-4 part">
				<a class="hover-shrink" n:href="Tour:forParticipiants">
					<img src="{$basePath}/{=IMAGES_DIR}/kruh/kruh_pojdte-s-nami_bila.png" alt="">
					<span>Pojďte<br>s&nbsp;námi</span>
				</a>
			</div>
			<div class="col-sm-4 part">
				<a class="hover-shrink" n:href="About:performance">
					<img src="{$basePath}/{=IMAGES_DIR}/kruh/kruh_vecerni-program_bila.png" alt="">
					<span>Večerní<br>vystoupení</span>
				</a>
			</div>
			<div class="col-sm-4 part">
				<a class="hover-shrink" n:href="About:ourOxen">
					<img src="{$basePath}/{=IMAGES_DIR}/kruh/kruh_nasi-volci_bila.png" alt="">
					<span>Naši<br>volci</span>
				</a>
			</div>
		</div>
	</div>
</section>
{/block}