{block content}
<section class="contact_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-md-6">
				<h1>Kontakt</h1>
			</div>
			<div class="col-md-6">
				<p class="hero">
					Máte dotaz? Prosíme přečtěte si nejdřív „Časté otázky“ níže. Pokud tam nenajdete odpověď, tak nás neváhejte kontaktovat nebo nám napište.
				</p>
				<a class="btn btn-outline" href="#contact_contact">
					Kontakty
				</a>
			</div>
		</div>
	</div>
</section>

<section class="contact_faq">
	<div class="container">
		<h2 class="text-center">Časté otázky</h2>
		<div class="row">
			<div class="col-md-6">
				<h3>Otázky během Padayātry</h3>
				<div class="accordion" id="faq-during">

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq01">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq01" aria-expanded="true" aria-controls="faq01">
				        		Chci se přidat k&nbsp;průvodu, co pro&nbsp;to můžu udělat?
				      		</button>
				    	</h4>
				    	<div id="faq01" class="accordion-collapse collapse" aria-labelledby="headingFaq01" data-bs-parent="#faq-during">
				      		Dejte nám včas vědět, že přijedete. Pokud máte návštěvu naplánovanou s&nbsp;předstihem, zaregistrujte se na&nbsp;stránce <a n:href="Tour:forParticipiants">Pro&nbsp;účastníky</a>. Pokud je to narychlo, stačí se nahlásit Adrienovi na&nbsp;číslo +420&nbsp;777&nbsp;232&nbsp;551, nejpozději ale do&nbsp;9:30 ráno v&nbsp;den, kdy se chcete připojit. Jakmile vyrazíme, málokdo z&nbsp;nás bere telefony, protože je většinou neslyšíme během zpívání a&nbsp;provozu. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq02">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq02" aria-expanded="false" aria-controls="faq02">
				        		Chci navštívit vaše večerní vystoupení, kde se dozvím místo a&nbsp;čas?
				      		</button>
				    	</h4>
				    	<div id="faq02" class="accordion-collapse collapse" aria-labelledby="headingFaq02" data-bs-parent="#faq-during">
					    	Navštivte stránku <a n:href="Tour:route">Trasa</a> v&nbsp;sekci Turné, kde najdete tabulku s&nbsp;místy konání vystoupení. Doplňující informace naleznete na&nbsp;stránce <a n:href="About:performance">Večerní vystoupení</a>. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq03">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq03" aria-expanded="false" aria-controls="faq03">
				        		Mám dotaz ohledně trasy a&nbsp;ubytování, koho mám zkontaktovat?
				      		</button>
				    	</h4>
				    	<div id="faq03" class="accordion-collapse collapse" aria-labelledby="headingFaq03" data-bs-parent="#faq-during">
					    	Nejprve se prosím podívejte na&nbsp;stránku <a n:href="Tour:route">Trasa</a>. Pokud tam nenaleznete odpověď na&nbsp;vaši otázku, kontaktujte Petra na&nbsp;čísle +420&nbsp;734&nbsp;233&nbsp;681, který má na&nbsp;starosti zařizování trasy. Buď vám hned odpoví na&nbsp;vaše otázky, nebo vás odkáže na&nbsp;osobu, která má vámi hledané informace. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq04">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq04" aria-expanded="false" aria-controls="faq04">
				        		Chci vám přinést nějakou zeleninu a&nbsp;ovoce ze&nbsp;zahrádky, na&nbsp;koho se mám obrátit?
				      		</button>
				    	</h4>
				    	<div id="faq04" class="accordion-collapse collapse" aria-labelledby="headingFaq04" data-bs-parent="#faq-during">
					    	Děkujeme mnohokrát! Pokud se s&nbsp;námi chcete podělit o&nbsp;svoji úrodu, kontaktujte našeho šéfkuchaře Martina na&nbsp;čísle +420&nbsp;722&nbsp;814&nbsp;908. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq05">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq05" aria-expanded="false" aria-controls="faq05">
				        		Chci donést seno volům, s&nbsp;kým se mohu domluvit?
				      		</button>
				    	</h4>
				    	<div id="faq05" class="accordion-collapse collapse" aria-labelledby="headingFaq05" data-bs-parent="#faq-during">
					    	Děkujeme mnohokrát! Voli vám budou neskonale vděční! Zavolejte našemu kočímu Josefovi na&nbsp;číslo +420&nbsp;736&nbsp;751&nbsp;036 a&nbsp;on se s&nbsp;vámi dohodne. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq06">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq06" aria-expanded="false" aria-controls="faq06">
				        		Chci vás finančně podpořit, jak na&nbsp;to?
				      		</button>
				    	</h4>
				    	<div id="faq06" class="accordion-collapse collapse" aria-labelledby="headingFaq06" data-bs-parent="#faq-during">
					    	Moc si toho vážíme a&nbsp;děkujeme! Na&nbsp;stránce <a n:href="Homepage:support">Podpořte nás</a> najdete všechny potřebné informace. Také se můžete podívat do&nbsp;sekce <a n:href="About:ourOxen#adoptujte-volka">Adoptujte volka</a>, kde můžete podpořit naše chlupaté krasavce. S&nbsp;případnými dotazy se obracejte na&nbsp;Janu na&nbsp;čísle +420&nbsp;731&nbsp;445&nbsp;471. 
				    	</div>
				  	</div>

				</div>
			</div>
			<div class="col-md-6">
				<h3>Otázky z&nbsp;ulice</h3>
				<div class="accordion" id="faq-street">

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq07">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq07" aria-expanded="true" aria-controls="faq07">
				        		Proč nejdete dělat něco pořádného?
				      		</button>
				    	</h4>
				    	<div id="faq07" class="accordion-collapse collapse" aria-labelledby="headingFaq07" data-bs-parent="#faq-street">
				      		Lidé si někdy myslí, že si jen tak vyjdeme s&nbsp;volským povozem, protože nemáme co na&nbsp;práci. Ve&nbsp;skutečnosti máme všichni během roku svá zaměstnání a&nbsp;na&nbsp;Padayātru jdeme místo našich řádných dovolených. Navíc z&nbsp;vlastní zkušenosti víme, jak nám poznání o&nbsp;duši a&nbsp;bhakti józe změnilo životy, a&nbsp;proto považujeme za&nbsp;jednu z&nbsp;našich nejdůležitějších povinností se o&nbsp;tuto moudrost podělit s&nbsp;ostatními. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq08">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq08" aria-expanded="false" aria-controls="faq08">
				        		Proč jste takhle oblečení?
				      		</button>
				    	</h4>
				    	<div id="faq08" class="accordion-collapse collapse" aria-labelledby="headingFaq08" data-bs-parent="#faq-street">
					    	Kultura, kterou reprezentujeme, vychází z&nbsp;Véd. Ty byly nejvíce známé na&nbsp;území dnešní Indie. Bohužel, v&nbsp;Indii se dochovaly jen zbytky védské kultury a&nbsp;v&nbsp;současnosti se většina Indie ubírá směrem, který je v&nbsp;rozporu s&nbsp;védskou kulturou. Netaháme tedy do&nbsp;Čech Indii, ale představujeme hlubokou moudrost Véd i&nbsp;s&nbsp;jejich kulturou. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq09">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq09" aria-expanded="false" aria-controls="faq09">
				        		Co sem taháte Indii?
				      		</button>
				    	</h4>
				    	<div id="faq09" class="accordion-collapse collapse" aria-labelledby="headingFaq09" data-bs-parent="#faq-street">
					    	Naše oblečení pochází z&nbsp;védské kulturní tradice. Jelikož se snažíme žít v&nbsp;souladu s&nbsp;vnitřními hodnotami této kultury, chceme, aby ji odrážel i&nbsp;náš zevnějšek. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq10">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq10" aria-expanded="false" aria-controls="faq10">
				        		Co to pořád zpíváte za&nbsp;písničku?
				      		</button>
				    	</h4>
				    	<div id="faq10" class="accordion-collapse collapse" aria-labelledby="headingFaq10" data-bs-parent="#faq-street">
					    	Píseň, kterou zpíváme, se jmenuje Hare Krišna Mahámantra, neboli “velký zpěv osvobození”. Není to obyčejná písnička, ale mocná zvuková vibrace, o&nbsp;které mystikové a&nbsp;dávné védské texty říkají, že uklidňuje mysl, očišťuje srdce od&nbsp;hněvu, nenávisti a&nbsp;dalších negativních vlivů a&nbsp;pomáhá člověku objevit své pravé já. Když ji člověk zpívá, ihned se mu objeví úsměv na&nbsp;tváři, protože to není píseň z&nbsp;tohoto dočasného světa. O&nbsp;Hare Krišna Mahámantře také píšeme v&nbsp;článku <a n:href="Article:peace">Kroky k&nbsp;míru</a>. 
				    	</div>
				  	</div>

				  	<div class="accordion-item">
				    	<h4 class="accordion-header" id="headingFaq11">
				      		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq11" aria-expanded="false" aria-controls="faq11">
				        		Proč nutíte ty zvířata chodit v&nbsp;takovýchto vedrech?
				      		</button>
				    	</h4>
				    	<div id="faq11" class="accordion-collapse collapse" aria-labelledby="headingFaq11" data-bs-parent="#faq-street">
					    	<p>
					    		Zde není třeba předkládat sofistikované filozofické argumenty. Stačí se zeptat někoho, kdo se delší dobu věnuje zvířatům a&nbsp;práci s&nbsp;nimi. Koně i&nbsp;volci práci milují. Pokud nejsou zaměstnaní a&nbsp;nevyužijí svoji energii, jen chřadnou. To vám potvrdí každý koňák nebo člověk pracující s&nbsp;volky.
					    	</p>
					    	<p>
					    		Tak jako lidé, kteří rádi sportují nebo tvrdě pracují, se při svých činnostech zadýchají a&nbsp;zapotí, i&nbsp;tažná zvířata při&nbsp;práci vykazují známky námahy. To je ale zcela přirozené a&nbsp;zvířatům to nevadí. Pokud by jim to vadilo, nečekaly by druhý den nedočkavě u&nbsp;ohrady na svého pána, až je zapřáhne a&nbsp;půjde s&nbsp;nimi něco dělat.
					    	</p>
					    	<p>
					    		Samozřejmě vše se musí dělat s&nbsp;citem a&nbsp;nic se nemá přehánět. Jsme si toho dobře vědomi, a&nbsp;proto délky denních pochodů vybíráme s&nbsp;ohledem na&nbsp;výdrž našich volků. S&nbsp;láskou a&nbsp;pozorností se o&nbsp;ně staráme a&nbsp;každý rok, když si pro&nbsp;ně před&nbsp;Padayātrou přijedeme na&nbsp;farmu, netrpělivě přešlapují u&nbsp;ohrady, bučí a&nbsp;těší se, až vyrazíme. Více o&nbsp;práci s&nbsp;volky najdete v&nbsp;článku <a n:href="Article:manAndAnimals">Člověk &&nbsp;zvířata</a>. 
					    	</p>
				    	</div>
				  	</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact_contact" id="contact_contact">
	<div class="container">
		<h2 class="text-center">Kontakty</h2>
		<div class="row">
			<div class="col-md-4">
				<h3>Sídlo</h3>
				<p>
					Padayātrā<br>
					nám. Edmunda Husserla&nbsp;1638/6<br>
					796&nbsp;01 Prostějov<br>
					IČO: 02776804
				</p>
			</div>
			<div class="col-md-8">
				<h3>Bankovní spojení</h3>
				<div class="row">
					<div class="col-md-6">
						<p>
							Transparentní účet pro&nbsp;volky a&nbsp;jednorázové příspěvky: <strong>2900620191/2010</strong>
						</p>
					</div>
					<div class="col-md-6">
						<p>
							Transparentní účet pro příspěvky na provoz: <strong>2800620186/2010</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="person">
					<img src="{$basePath}/{=IMAGES_DIR}/people/Boss.png" alt="">
					<div class="text">
						<strong>Vedoucí projektu</strong>
						Petr Nedbal (Nrsimha Čajtanja dás)
						<a href="tel:+420 737 879 641">+420 737 879 641</a>
					</div>
				</div>
				<div class="person">
					<img src="{$basePath}/{=IMAGES_DIR}/people/Petr.png" alt="">
					<div class="text">
						<strong>Zařizování trasy</strong>
						Petr Holubář
						<a href="tel:+420 734 233 681">+420 734 233 681</a>
					</div>
				</div>
				<div class="person">
					<img src="{$basePath}/{=IMAGES_DIR}/people/Adrien.png" alt="">
					<div class="text">
						<strong>Registrace na pochod</strong>
						Adrien Junga
						<a href="tel:+420 777 232 551">+420 777 232 551</a>
					</div>
				</div>
				<div class="person">
					<img src="{$basePath}/{=IMAGES_DIR}/people/Mata.png" alt="">
					<div class="text">
						<strong>Sponzoři</strong>
						Jana Nedbalová
						<a href="tel:+420 731 445 471">+420 731 445 471</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				{form contactForm, accept-charset => "utf-8", class => "sf-contact-form"}
					{input data-name, placeholder => "Jméno & příjmení"}
					{input data-email, placeholder => "vas@email.cz"}
					{input data-text, cols => "30", rows => "5", placeholder => "Napište nám…"}
					<div class="d-none">
						{input workEmail}
						{input workEmailConfirm}
						{input workPlace}
					</div>
                    {input send, class => "btn float-end", id => "sendContactForm"}
				{/form}
				<p id="contactFormMessage"></p>
			</div>
		</div>
	</div>
</section>
{include '../components/socials.latte'}
{/block}