{block content}
<section class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-1 offset-xl-0">
				<h1>
					<img src="{$basePath}/{=IMAGES_DIR}/logo-text.svg" alt="Padayātrā &#8211; Putující festival">
				</h1>
				<div class="text">
					<p class="date">{$constants?->tourDateStart|date:'j. n.'}&nbsp;—&nbsp;{$constants?->tourDateFinish|date:'j. n. Y'}</p>
					<p class="route">{$constants?->tourPlaceStart} <img class="arrow" src="{$basePath}/{=IMAGES_DIR}/arrow.svg" alt="→"> {$constants?->tourPlaceFinish}</p>
					<p class="details">{$constants?->tourPlaceCount}&nbsp;zastávek ☼ {$constants?->tourKilometres}&nbsp;kilometrů</p>
				</div>
				<a class="btn" n:href="Tour:forParticipiants">
					Chci jít s&nbsp;vámi
				</a>
			</div>
		</div>
	</div>
</section>

<section class="recall">
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1">
				<h2>Připomínáme lidem to, co nás spojuje.</h2>
				<a n:href="About:aboutUs" class="btn btn-outline">
					Více o&nbsp;nás
				</a>
			</div>
		</div>
	</div>
</section>

<section class="what-is">
	<div class="container">
		<div class="row">
			<div class="holder">
				<div class="what-is-carousel">
	  				<div class="carousel-cell">
	  					<img src="{$basePath}/{=IMAGES_DIR}/historie-padayatry.jpg" alt="Historie Padayātry">
	  				</div>
	  				<div class="carousel-cell">
	  					<img src="{$basePath}/{=IMAGES_DIR}/historie-padayatry.jpg" alt="Historie Padayātry">
	  				</div>
	  			</div>
				<div class="bg-purple">
					<h2>Co je to Padayātrā?</h2>
					<p>
						Putující festival Padayātrā se v&nbsp;Česku koná už od&nbsp;roku 1993. Každé léto během letních prázdnin se náš tým sjede ze všech koutů republiky, abychom zhruba dva týdny putovali po městech &nbsp;vesnicích v&nbsp;doprovodu volského povozu. V&nbsp;místech přenocování pořádáme pro obyvatele večerní vystoupení.
					</p>
					<p>
						Naším přáním je, aby lidé po setkání s&nbsp;naším festivalem odcházeli s&nbsp;radostí a&nbsp;zároveň s&nbsp;novým náhledem na&nbsp;život.
					</p>
					<a n:href="Article:history" class="btn btn-outline">Jak to začalo</a>
				</div>
			</div>
			<a class="arrow-hovering ah01" href="#first-what-is"><img src="{$basePath}/{=IMAGES_DIR}/arrow/01.svg" alt="Posunout"></a>
		</div>

		<div class="row first-what-is" id="first-what-is">
			<div class="col-md-6 offset-lg-1 img">
				<img src="{$basePath}/{=IMAGES_DIR}/kruh/kruh_pojdte-s-nami.jpg" alt="">
			</div>
			<div class="col-md-6 col-lg-5 col-xxl-4">
				<h3>Pojďte s&nbsp;námi</h3>
				<p>
					Zúčastněte se putujícího festivalu, zažijete něco jedinečného!
				</p>
				<a n:href="Article:peace" class="arrow-link">Kroky k míru – přínos Padayātry pro společnost</a>
				<p>
					Vyrážíme vždy v&nbsp;9:30 z&nbsp;místa přenocování a&nbsp;do&nbsp;další zastávky dorazíme kolem 13:30 hodin.
				</p>
				<a n:href="Tour:route" class="arrow-link">Trasa průvodu</a>
				<a n:href="Tour:forParticipiants" class="btn btn-outline">Chci jít s&nbsp;vámi</a>
			</div>
			<a class="arrow-hovering ah02" href="#second-what-is"><img src="{$basePath}/{=IMAGES_DIR}/arrow/02.svg" alt="Posunout"></a>
		</div>

		<div class="row second-what-is" id="second-what-is">
			<div class="col-md-6 img order-md-1">
				<img src="{$basePath}/{=IMAGES_DIR}/kruh/kruh_vecerni-program.jpg" alt="">
			</div>
			<div class="col-md-6 col-lg-5 offset-lg-1 col-xxl-4">
				<h3>Večerní vystoupení</h3>
				<p>
					<strong>
						Začínáme vždy od&nbsp;18:00 a&nbsp;končíme v&nbsp;19:30.
					</strong>
				</p>
				<a n:href="Tour:route" class="arrow-link">Místa konání</a>
				<ul>
					<li>dynamická meditační hudba</li>
					<li>povídání o&nbsp;smyslu Padayātry</li>
					<li>divadlo O&nbsp;pyšném princi</li>
					<li>soutěž o&nbsp;ceny (nejen pro děti)</li>
					<li>malování na&nbsp;obličej</li>
					<li>kartáčování volků</li>
					<li>létající banány</li>
					<li>ochutnávka</li>
				</ul>
				<p>
					Vstup pro&nbsp;všechny zdarma!
				</p>
				<a n:href="About:performance" class="btn btn-outline">Více o&nbsp;vystoupení</a>
			</div>
			<a class="arrow-hovering ah03" href="#third-what-is"><img src="{$basePath}/{=IMAGES_DIR}/arrow/03.svg" alt="Posunout"></a>
		</div>

		<div class="row third-what-is" id="third-what-is">
			<div class="col-md-6 offset-lg-1 img">
				<img src="{$basePath}/{=IMAGES_DIR}/kruh/kruh_nasi-volci.jpg" alt="">
			</div>
			<div class="col-md-6 col-lg-5 col-xxl-4">
				<h3>Naši volci</h3>
				<a n:href="About:ourOxen" class="arrow-link">Tahouni Padayātry&nbsp;–&nbsp;seznamte se s&nbsp;našimi chlupatými krasavci!</a>
				<a n:href="Article:manAndAnimals" class="arrow-link">Člověk &&nbsp;zvířata&nbsp;–&nbsp;důležitost ochrany a&nbsp;zaměstnání krav a&nbsp;volků</a>
			</div>
			<a class="arrow-hovering ah04" href="#reviews"><img src="{$basePath}/{=IMAGES_DIR}/arrow/04.svg" alt="Posunout"></a>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>

<section class="reviews" id="reviews">
	<div class="container">
		<h2>Co o&nbsp;nás říkají</h2>
		<div class="review-carousel">

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Samotná akce proběhla bez&nbsp;komplikací, včetně všech přesunů průvodu s&nbsp;volským povozem po&nbsp;místních komunikacích. Účastníci oživili pochodem nejen centrum Kolína, ale i&nbsp;některé okrajové části města.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re1.svg" alt="Mgr. Petr Kesner">
  					</div>
  				</div>
				</div>

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Bohatý kulturní program přilákal na&nbsp;naše náměstí asi 250&nbsp;zvědavých návštěvníků. Nejvíce se líbilo vystoupení tanečnice, ochutnávka, všichni si užili divadlo a&nbsp;nakonec se pobavili při&nbsp;soutěži a&nbsp;při&nbsp;chytání létajících banánů.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re2.svg" alt="Bc. Dušan Žmolil">
  					</div>
  				</div>
				</div>

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Padayātrā je super, nejvíc se mi líbí, že se nemusím o&nbsp;nic starat a&nbsp;jen jít, zpívat a&nbsp;tancovat, potom s&nbsp;něčím pomoci a&nbsp;jít spát. Život je jednoduchý a&nbsp;krásný na&nbsp;Padayātře.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re3.svg" alt="Lukáš">
  					</div>
  				</div>
				</div>

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Padayātrā je pro&nbsp;mě srdeční záležitost, těším se na ni celý rok.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re4.svg" alt="Jana">
  					</div>
  				</div>
				</div>

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Nyní jsem si jistý, že mám duši. Přesvědčilo mě o&nbsp;tom divadlo.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re5.svg" alt="Jakub">
  					</div>
  				</div>
				</div>

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Ano, po&nbsp;návštěvě kulturního vystoupení Padayātry jsem se rozhodl, že už nebudu rasista.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re6.svg" alt="Josef">
  					</div>
  				</div>
				</div>

				<div class="carousel-cell">
					<div class="row m-0">
  					<div class="col-sm-6 order-sm-1 px-3">
  						<div class="bubble">
  							<span>
  								Večerní vystoupení na&nbsp;mě zapůsobilo velice pozitivně, pohladilo mi duši.
  							</span>
  						</div>
  					</div>
  					<div class="col-sm-6 px-3">
  						<img src="{$basePath}/{=IMAGES_DIR}/review/Re7.svg" alt="Jarmila">
  					</div>
  				</div>
				</div>

		</div>
	</div>
</section>

<section class="keep-tradition">
	<div class="container">
		<div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
			<h2>Udržte tradici v&nbsp;pohybu!</h2>
			<p>
				Padayātrā by nemohla pokračovat bez&nbsp;podpory svých přátel a&nbsp;příznivců. Udělejte pro nás něco od&nbsp;srdce a&nbsp;buďte také součástí této rodiny.
			</p>
			<a n:href="Homepage:support" class="btn btn-shine">Podpořte nás</a>
		</div>
	</div>
</section>

<section class="articles">
	<div class="container-fluid px-5">
		<h2>Poznejte více</h2>
			{include '../components/blog.latte'}
		<a n:href="Article:default" class="btn">Všechny články</a>
	</div>
</section>
{/block}