{block content}
<section class="gdpr">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 col-xxl-8 offset-xl-1 offset-xxl-2">
				<h1>
					Ochrana osobních údajů
				</h1>
				<p>
					Pokud jste účastníkem putujícího festivalu Padayātrā nebo naším sponzorem, svěřujete nám své osobní údaje. My zodpovídáme za jejich ochranu a zabezpečení.
				</p>
				<p>
					Seznamte se, prosím, s ochranou osobních údajů, zásadami a právy, které máte v souvislosti s GDPR (Nařízení o ochraně osobních údajů).
				</p>
				<h2>
					Kdo je správce?
				</h2>
				<p>
					Jsme nezisková společnost Padayātrā se sídlem: náměstí Edmunda Husserla 1638/6, 796 01 Prostějov, IČ: 02776804, zapsaná v Rejstříku evidovaných právnických osob Ministerstva kultury, která provozuje webové stránky: <a href="https://www.padayatra.cz">www.padayatra.cz</a>.
				</p>
				<p>
					Správce nejmenoval pověřence pro ochranu osobních údajů.
				</p>
				<h2>
					Kontaktní údaje
				</h2>
				<p>
					Pokud se na nás budete chtít v průběhu zpracování obrátit, můžete nás kontaktovat na tel. čísle +420 737 879 641 nebo na e-mailu: info@padayatra.cz.
				</p>
				<h2>
					Prohlašujeme
				</h2>
				<p>
					Prohlašujeme, že jako správce vašich osobních údajů splňujeme veškeré zákonné povinnosti vyžadované platnou legislativou, zejména zákonem č. 101/2000 Sb. o ochraně osobních údajů a GDPR, a tedy že:
				</p>
				<ul>
					<li>
						budeme zpracovávat vaše osobní údaje jen na základě platného právního důvodu, a to především <strong>oprávněného zájmu, zákonné povinnosti či uděleného souhlasu</strong>
					</li>
					<li>
						plníme dle článku 13 GDPR informační povinnost ještě před zahájením zpracování osobních údajů
					</li>
					<li>
						umožníme vám a budeme vás podporovat v uplatňování a plnění vašich práv podle zákona o ochraně osobních údajů a GDPR
					</li>
				</ul>
				<h2>
					Rozsah osobních údajů<br>a účely zpracování
				</h2>
				<p>
					Zpracováváme osobní údaje, které nám svěříte sami, a to z následujících důvodů (pro naplnění těchto účelů):
				</p>
				<ul>
					<li>
						<strong>poskytování dárků sponzorům</strong> – vaše osobní údaje v rozsahu: e-mail, jméno a příjmení, adresa, telefon, potřebujeme k posílání dárků, které zasíláme na vámi uvedenou adresu.
					</li>
					<li>
						<strong>vedení účetnictví</strong> – Jste-li sponzoři, vaše osobní údaje (fakturační údaje) nezbytně potřebujeme, abychom vyhověli zákonné povinnosti pro vystavování a evidenci daňových dokladů.
					</li>
					<li>
						<strong>marketing – zasílání sdělení</strong> – vaše osobní údaje (e-mail a jméno), využíváme za účelem přímého marketingu – zasílání sdělení. Jste-li účastníkem putujícího festivalu Padayátrá, děláme tak z oprávněného zájmu, neboť důvodně předpokládáme, že vás naše informace a novinky zajímají, a to po dobu <strong>10 let od poslední účasti putujícího festivalu Padayātrā</strong>.
					</li>
				</ul>
				<p>
					<strong>Můžete tento souhlas odvolat.</strong>
				</p>
				<p>
					Vaše osobní údaje si ponecháváme po dobu běhu promlčecích lhůt, pokud zákon nestanoví delší dobu k jejich uchování (např. zák. o účetnictví, zák. o DPH) nebo jsme v konkrétních případech neuvedli jinak. 
				</p>
				<h2>
					Zabezpečení a ochrana<br>osobních údajů
				</h2>
				<p>
					Chráníme osobní údaje v maximální možné míře pomocí moderních technologií, které odpovídají stupni technického rozvoje. Chráníme je, jako kdyby byly naše vlastní. Přijali jsme a udržujeme veškerá možná (aktuálně známá) technická (antivirový SW, zaheslované přístupy aj.) a organizační opatření, která zamezují zneužití, poškození nebo zničení vašich osobních údajů.
				</p>
				<h2>
					Předání osobních údajů<br>třetím osobám
				</h2>
				<p>
					K vašim osobním údajům mají přístup naši spolupracovníci.
				</p>
				<p>
					Pro zajištění konkrétních zpracovatelských operací, které nedokážeme zajistit vlastními silami, využíváme služeb a aplikací zpracovatelů, kteří umí data ochránit ještě lépe než my a na dané zpracování se specializují.
				</p>
				<p>
					Jsou to poskytovatelé následujících platforem: <strong>Facebook, Google, Pays, Mailchimp</strong>.
				</p>
				<p>
					Je možné, že se v budoucnu rozhodneme využít další aplikace či zpracovatele, pro usnadnění a zkvalitnění zpracování. Slibujeme vám však, že v takovém případě při výběru budeme na zpracovatele klást minimálně stejné nároky na zabezpečení a kvalitu zpracování jako na sebe.
				</p>
				<h2>
					Vaše práva v souvislosti<br>s ochranou osobních údajů
				</h2>
				<p>
					V souvislosti s ochranou osobních údajů máte řadu práv. Pokud budete chtít některého z těchto práv využít, prosím, kontaktujte nás prostřednictvím e-mailu: info@padayatra.cz
				</p>
				<p>
					Máte <strong>právo na informace</strong>, které jsou plněny již touto informační stránkou se zásadami zpracování osobních údajů.
				</p>
				<p>
					Díky <strong>právu na přístup</strong> nás můžete kdykoli vyzvat a naše společnost vám doloží ve lhůtě 30 dní, jaké vaše osobní údaje zpracovává a proč.
				</p>
				<p>
					Pokud se u vás něco změní nebo shledáte své osobní údaje neaktuální nebo neúplné, máte <strong>právo na doplnění</strong> a změnu osobních údajů. 
				</p>
				<p>
					<strong>Právo na omezení zpracování</strong> můžete využít, pokud se domníváte, že zpracováváme vaše nepřesné údaje, domníváte se, že provádíme zpracování nezákonně, ale nechcete všechny údaje smazat, nebo pokud jste vznesl/la námitku proti zpracování. Omezit můžete rozsah osobních údajů nebo účelů zpracování. (Např. pokud nechcete, abychom vám zasílali sdělení)
				</p>
				<p>
					<strong>Právo na přenositelnost</strong><br>
					Pokud byste chtěli své osobní údaje vzít a přenést k někomu jinému, budeme postupovat stejně jako při využití práva na přístup - jen s tím rozdílem, že vám informace pošleme ve strojově čitelné podobě. V tomto případě potřebujeme alespoň 30 dní.
				</p>
				<p>
					<strong>Právo na výmaz (být zapomenut)</strong><br>
					Vaším dalším právem je právo na výmaz (být zapomenut). Nechceme na vás zapomenout, ale pokud si to budete přát, máte na to právo. V takovém případě vymažeme veškeré vaše osobní údaje ze svého systému i ze systému všech dílčích zpracovatelů a záloh. Na zajištění práva na výmaz potřebujeme 30 dní.
				</p>
				<p>
					V některých případech jsme vázáni zákonnou povinností,  např. musíme evidovat vystavené daňové doklady po lhůtu stanovenou zákonem. V tomto případě tedy smažeme všechny takové osobní údaje, které nejsou vázány jiným zákonem. O dokončení výmazu vás budeme informovat na e-mail.
				</p>
				<h2>
					Stížnost u Úřadu<br>na ochranu osobních údajů
				</h2>
				<p>
					Pokud máte pocit, že s vašimi údaji nezacházíme v souladu se zákonem, máte právo se se svou stížností kdykoli obrátit na Úřad pro ochranu osobních údajů. Budeme moc rádi, pokud nejprve budete o tomto podezření informovat nás, abychom s tím mohli něco udělat a případné pochybení napravit.
				</p>
				<h2>
					Ukončení zasílání<br>sdělení nebo dárků
				</h2>
				<p>
					E-maily s inspirací, články či informace nebo dárky vám zasíláme, jste-li účastník putujícího festivalu Padayātrā nebo sponzor <strong>na základě našeho oprávněného zájmu</strong>. Máte možnost ukončit zasílání sdělení či dárků, a to prostřednictvím emailu.
				</p>
				<h2>
					Mlčenlivost
				</h2>
				<p>
					Dovolujeme si Vás ujistit, že naši spolupracovníci, kteří budou zpracovávat vaše osobní údaje, jsou povinni <strong>zachovávat mlčenlivost o osobních údajích</strong> a o bezpečnostních opatřeních, jejichž zveřejnění by ohrozilo zabezpečení vašich osobních údajů. Tato mlčenlivost přitom trvá i po skončení závazkových vztahů s námi. Bez vašeho souhlasu nebudou vaše osobní údaje vydány žádné jiné třetí straně.
				</p>
				<p>
					Tyto zásady zpracování osobních údajů platí od 19.6.2021.
				</p>
			</div>
		</div>
	</div>
</section>
{include '../components/socials.latte'}
{/block}