{block content}
<div class="modal fade podporte-nas_modal" id="modal01" tabindex="-1" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg text-center">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-md-10 offset-md-1">
      					<img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="">
      					<div class="donation">
      						<h2>Příspěvek v&nbsp;hodnotě<br><input id="donationAmount" type="number"> Kč</h2>
      						<button class="btn btn-outline" onclick="sendDonation();">
      							Přispět
      						</button>
      					</div>
      					<p>
      						<strong>
      							Z&nbsp;technických důvodů je přes&nbsp;platební bránu možno přispět maximálně 5&nbsp;000&nbsp;Kč.
      						</strong>
      						Pokud, chcete darovat více, pošlete nám váš příspěvek bankovním převodem nebo se na&nbsp;nás obraťte osobně.
      					</p>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div> 

<section class="podporte-nas_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-lg-6">
				<h1>Podpořte nás</h1>
			</div>
			<div class="col-lg-6">
				<h2>Mluvte o&nbsp;nás</h2>
				<p>
					Líbilo se vám setkání s&nbsp;námi? Mluvte o&nbsp;tom s&nbsp;lidmi naživo, přes&nbsp;sociální sítě, lajkujte, komentujte, pište&hellip;
				</p>
				<h2>Nefinanční podpora</h2>
				<p>
					Během našeho letního putování nám můžete darovat květiny na&nbsp;výzdobu vozu, podělit se o&nbsp;sklizeň ze&nbsp;sadu či ze&nbsp;zahrádky, přinést seno volkům, nebo se festivalu osobně zúčastnit.
				</p>
				<h2>Finanční podpora</h2>
				<p>
					Každý rok než vyrazíme je potřeba zařídit mnoho věcí, bez&nbsp;kterých by Padayātrā nemohla fungovat. Pomozte nám buď pravidelným nebo jednorázovým příspěvkem.
				</p>
			</div>
		</div>
	</div>
</section>



<section class="podporte-nas_help text-center">
	<h2>Chci pomoci</h2>
	<div class="container" id="help">
		<div class="row mx-1">
			<div class="px-1 col-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
				<h3 class="accordion-header">
		      		<button id="headingHelp01" onclick="toggleHelp()" class="accordion-button active btn btn-enlargened" type="button">
		        		Pravidelně
		      		</button>
		    	</h3>
			</div>
			<div class="px-1 col-6 col-lg-5 col-xl-4">
				<h3 class="accordion-header">
		      		<button id="headingHelp02" onclick="toggleHelp()" class="accordion-button btn btn-enlargened" type="button">
		        		Jednorázově
		      		</button>
		    	</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12">

			    	<div id="help01">
			      		<div class="row">
			      			<div class="col-md-10 offset-md-1">
			      				<p class="hero">
			      					Zadejte trvalý příkaz k&nbsp;úhradě na&nbsp;tento účet:<br>2800620186/2010
			      				</p>
			      				<p class="hero">
			      					Do&nbsp;poznámky napište své jméno a&nbsp;příjmení.
			      				</p>
			      			</div>
			      		</div>
			      		<hr>
			      		<div class="row">
			      			<div class="col-md-10 offset-md-1">
			      				<p class="hero">
			      					Díky pravidelným sponzorům můžeme Padayātru systematicky rozvíjet. Z&nbsp;vašich příspěvků hradíme nejen <a target=_blank href="https://docs.google.com/spreadsheets/d/14lHyNvKs4DGv1oJQgnr0x5gO-eUTMPslnH0hkgiZzhk/edit?usp=sharing">nutné náklady</a> na&nbsp;realizaci festivalu, ale i&nbsp;údržbu, vybavení pro&nbsp;tvorbu obsahu na&nbsp;sociálních sítích a&nbsp;další rozvoj festivalu.
			      				</p>
			      			</div>
			      		</div>
			    	</div>

			    	<div id="help02" class="hidden">
				    	<div class="row">
			      			<div class="col-md-10 offset-md-1">
			      				<p class="hero">
			      					Z&nbsp;vašich příspěvků uhradíme <a taregt=_blank href="https://docs.google.com/spreadsheets/d/14lHyNvKs4DGv1oJQgnr0x5gO-eUTMPslnH0hkgiZzhk/edit?usp=sharing">nutné náklady</a> na&nbsp;provoz Padayātry.
			      				</p>
			      			</div>
			      		</div>
			      		<div class="money">
				      		<div class="mx-1 row text-center">
		      					<div class="col-6 px-1 col-md-3 col-xl-2 offset-xl-2">
		      						<a target=_blank href="https://www.pays.cz/paymentlink?prispevek-500" class="btn btn-outline">500 Kč</a>
		      					</div>
		      					<div class="col-6 px-1 col-md-3 col-xl-2">
		      						<a target=_blank href="https://www.pays.cz/paymentlink?prispevek-1000" class="btn btn-outline btn-enlargened">1 000 Kč</a>
		      					</div>
		      					<div class="col-6 px-1 col-md-3 col-xl-2">
		      						<a target=_blank href="https://www.pays.cz/paymentlink?prispevek-2000" class="btn btn-outline">2 000 Kč</a>
		      					</div>
		      					<div class="col-6 px-1 col-md-3 col-xl-2">
		      						<a target=_blank href="https://www.pays.cz/paymentlink?prispevek-5000" class="btn btn-outline">5 000 Kč</a>
		      					</div>
		      				</div>
		      				<div class="row text-center">
		      					<div class="col-md-4 offset-md-4">
		      						<button data-bs-toggle="modal" data-bs-target="#modal01" class="btn btn-outline">Jiné Kč</button>
		      					</div>
		      				</div>
		      			</div>
		      			<div class="row">
		      				<div class="col-lg-10 offset-lg-offset col-xl-8 offset-xl-2">
		      					<div class="sliders">
					  				<h3>Díky vaší podpoře jsme již vysbírali</h3>
					  				<div class="slider">
					  					<img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="Logo">
					  					<h4>Vybráno</h4>
					  					<progress value="{$constants->supportPriceReal}" max="{$constants->supportPriceGoal}"></progress>
					  					<div class="money">
					  						<span class="progressValue"></span>&nbsp;Kč z&nbsp;<span class="progressMax"></span>&nbsp;Kč
					  					</div>
					  				</div>
					  			</div>
		      				</div>
		      			</div>
	      				
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>

<section class="nasi-volci_gifts text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
				<p class="hero">
					Jako poděkování a&nbsp;výraz vděčnosti pro&nbsp;vás máme připravené dárky, které vám na&nbsp;konci roku zašleme (nezapomeňte nám buď poslat vaši adresu, nebo alespoň váš kontakt):
				</p>
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-4 order-md-1">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/farm.svg" alt="">
					<p class="hero">
						do&nbsp;10&nbsp;000&nbsp;Kč za&nbsp;rok
					</p>
					<small>
						Certifikát o&nbsp;daru, stolní měsíční kalendář, balíček dobrot.
					</small>
				</div>
			</div>
			<div class="col-md-4">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/certificate.svg" alt="">
					<p class="hero">
						do&nbsp;2&nbsp;000&nbsp;Kč za&nbsp;rok
					</p>
					<small>
						Certifikát o&nbsp;daru, balíček domácích dobrot.
					</small>
				</div>
			</div>
			<div class="col-md-4 order-md-2">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/calender.svg" alt="">
					<p class="hero">
						do&nbsp;5&nbsp;000&nbsp;Kč za&nbsp;rok
					</p>
					<small>
						Certifikát o&nbsp;daru, stolní měsíční kalendář.
					</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/gift.svg" alt="">
					<p class="hero">
						nad&nbsp;10&nbsp;000&nbsp;Kč za&nbsp;rok
					</p>
					<small>
						Certifikát o&nbsp;daru, stolní měsíční kalendář, balíček dobrot, reklamní předměty.
					</small>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-up-beige"></div>

<section class="nasi-volci_thanks text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
				<img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="">
				<p class="hero">
					Mnohokrát vám děkujeme za&nbsp;vaši podporu. Moc si jí vážíme! Sledujte naše sociální sítě a&nbsp;zůstaňte s&nbsp;námi i&nbsp;nadále.
				</p>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>
{include '../components/socials.latte'}
{/block}