{block content}
<section class="kdo-jsme_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-lg-6">
				<h1>Kdo jsme</h1>
			</div>
			<div class="col-lg-6">
				<p class="hero">
					Každý z&nbsp;nás žije v&nbsp;jiné části republiky, máme různá zaměstnání, řešíme odlišné životní situace, ale spojuje nás jedna věc. V&nbsp;určitém bodě jsme objevili moudrost mudrců a&nbsp;jógích z&nbsp;Východu a&nbsp;začali jsme ji prakticky zavádět do&nbsp;našich životů. Na&nbsp;základě vlastní zkušenosti se o&nbsp;tuto moudrost chceme podělit s&nbsp;ostatními.
				</p>
				<div class="row">
					<div class="col-lg-8">
						<p>
							Reprezentujeme kulturní a&nbsp;vzdělávací hnutí -&nbsp;Mezinárodní společnost pro&nbsp;vědomí Krišny. Jeho cílem je sdružovat lidi praktikující bhakti-jógu -&nbsp;způsob nalezení našeho pravého já a&nbsp;spojení se s&nbsp;nejvyšším zdrojem štěstí skrze službu s&nbsp;oddaností.
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="kdo-jsme_our-mission">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>Naše mise</h2>
			</div>
			<div class="col-lg-6">
				<p>
					Mottem Padayātry je připomínat lidem to, co nás spojuje. V&nbsp;dnešní době se soustředíme spíše na&nbsp;rozdíly, ať už se jedná o&nbsp;barvu pleti, náboženské vyznání, nebo aktuálně třeba o&nbsp;postoj k&nbsp;očkování proti covidu-19. Podobná hlediska sice mohou lidi také spojovat -&nbsp;jsme občany stejného státu, máme podobné politické názory, stejné zájmy apod., ale v&nbsp;konečném slova smyslu se nedaří najít něco, co by spojovalo všechny lidi a&nbsp;tvory na Zemi. Existuje vůbec něco takového?
				</p>		
				<div class="collapse" id="collapseOurMission">
					<p>
						Velcí mudrci a&nbsp;učenci našli nadčasovou odpověď na&nbsp;tuto otázku ve Védách, prastarých textech z&nbsp;území dnešní Indie. Védy nám říkají, že všechna výše zmíněná hlediska jsou dočasná a&nbsp;neúplná, protože se týkají pouze našich těl. Tato těla jsou popsána jako hmotné obaly, které prochází změnami a&nbsp;časem zanikají. Podle Véd ale v&nbsp;každém takovém obalu přebývá věčná duše, což je naše pravé já.
					</p>
					<p>
						Skutečná a&nbsp;trvalá jednota tedy může být nalezena na&nbsp;úrovni duše. Stačí, když připustíme, že my jako osoby se lišíme od&nbsp;svých těl. Podobně jako auta na&nbsp;silnici se mohou lišit barvou, tvarem, rychlostí atd., stejně tak i&nbsp;naše těla mají mnoho vnějších rozdílů. V&nbsp;každém autě (těle) ale sedí řidič (duše), který ho uvádí do&nbsp;pohybu. Jako duše nás spojuje přirozená touha po&nbsp;věčném štěstí a&nbsp;pochopení sebe sama.
					</p>
					<p>
						Védy dávají návod, jak tohoto věčného štěstí a&nbsp;poznání dosáhnout pomocí bhakti-jógy, a&nbsp;to skrze obnovení láskyplného vztahu s&nbsp;naším původním zdrojem -&nbsp;Bohem, který je ve Védách nazvaný Krišna -&nbsp;"všepřitažlivý". Sami jsme se vydali na&nbsp;tuto cestu sebeobjevení a&nbsp;vidíme, jak bhakti-jóga mění naše životy. Každé léto proto vyrážíme s&nbsp;naším putujícím festivalem, abychom se s&nbsp;vámi podělili o&nbsp;tento alternativní pohled na&nbsp;život a&nbsp;přinesli vám pohodu a&nbsp;radost.
					</p>
				</div>
				<button class="btn btn-text btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOurMission" aria-expanded="false" aria-controls="collapseOurMission">
				    <span class="closed">Číst dále</span>
				    <span class="opened">Skrýt text</span>
				</button>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>

<section class="kdo-jsme_what-we-want">
	<div class="container-xxl px-4 text-center">
		<h2>Čeho chceme dosáhnout</h2>
		<div class="row">
			<div class="col-sm-4 part">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/harinam.svg" alt="Harinam">
				<p>S&nbsp;putujícím festivalem navštívit každé město a&nbsp;vesnici v&nbsp;České Republice.</p>
			</div>
			<div class="col-sm-4 part">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/knowledge.svg" alt="Poznání">
				<p>Podělit se s&nbsp;lidmi o&nbsp;nadčasovou moudrost dávných jogích a&nbsp;mudrců.</p>
			</div>
			<div class="col-sm-4 part">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/protection.svg" alt="Ochrana krav">
				<p>Využitím volské síly ukázat, jak si mohou být lidé a&nbsp;zvířata více vzájemně prospěšní.</p>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-up-beige"></div>

<section class="kdo-jsme_map">
	<div class="part01 text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 offset-sm-1">
					<p class="hero">
						Padayātrā se v&nbsp;Česku koná už od&nbsp;roku 1993. Trojice nadčenců z&nbsp;ekologické farmy Krišnův dvůr u&nbsp;Benešova se tehdy rozhodla uspořádat malý pochod s&nbsp;volským povozem do&nbsp;Českých Budějovic a&nbsp;zpět. Až na&nbsp;několik vyjímek tento každoroční festival v&nbsp;Čechách pořádáme dodnes.
					</p>
					<a n:href="Article:history" class="arrow-link">Pokračovat ve&nbsp;čtení</a>
				</div>
			</div>
		</div>
	</div>
	<div class="part02 map" id="map">
		
	</div>
	<div id="legend" class="text-center">
		<div class="container">
			<button id="test">
				<span>0000</span> — Nové Město na Moravě → Jihlava
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="test">
				<span>000</span> — Test01 → Test02
			</button>
			<button id="route2017">
				<span>2017</span> — Ostrava → Sedlnice
			</button>
			<button id="route2016">
				<span>2016</span> — Hulín → Plumlov
			</button>
			<button id="route2015">
				<span>2015</span> — Kouty → Pardubice
			</button>
		</div>
	</div>
</section>

{include '../components/wantToJoin.latte'}

<div class="transition transition-up-beige"></div>

<section class="kdo-jsme_farms text-center">
	<div class="container">
		<div class="col-xl-10 offset-xl-1">
			<p class="hero">
				Padayātrā úzce spolupracuje s&nbsp;farmou Krišnův dvůr u&nbsp;Benešova u&nbsp;Prahy a&nbsp;farmářskou komunitou Nava Gókula u Kroměříže. Oba tyto projekty se starají o&nbsp;nejdůležitější část putujícího festivalu –&nbsp;volky, kteří táhnou putovní vůz. Jsme jim moc vděční za&nbsp;tuto spolupráci.
			</p>
			<div class="farms">
				<a class="hover-shrink" target=_blank href="http://www.krisnuvdvur.cz/">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/farm01.png" alt="Krišnův dvůr">
				</a>
				<a class="hover-shrink" target=_blank href="http://www.gokula.cz/">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/farm02.svg" alt="Nava Gokula">
				</a>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>
{include '../components/socials.latte'}
{/block}