{block content}
<section class="nasi-volci_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-lg-6">
				<h1>Naši volci</h1>
			</div>
			<div class="col-lg-6">
				<p class="hero">
					Seznamte se s&nbsp;ústředními postavami našeho festivalu. Bez&nbsp;těchto chlupatých hrdinů bychom těžko mohli celou Padayātru realizovat.
				</p>
				<a href="#adoptujte-volka" class="btn btn-outline">Adoptujte volka</a>
			</div>
		</div>
	</div>
</section>

<section class="nasi-volci_video">
	<div class="container">
		<div class="row">
			<div class="col-md-6 order-md-1">
				<h2>Člověk &&nbsp;zvířata</h2>
				<p>
					Naši voli jsou jednou z&nbsp;hlavních atrakcí Padayātry, ale nejsou tu jen proto, aby nám udělali pěknou reklamu. Přítomnost volů na&nbsp;Pádajátře je úzce spjata s&nbsp;její ústřední myšlenkou –&nbsp;mír může nastat pouze tehdy, když pochopíme, že všechny živé bytosti jsou si na&nbsp;duchovní úrovni rovnocenné, bez&nbsp;ohledu na&nbsp;vnější těla, která obývají.
				</p>
				<div class="collapse" id="collapseText">
					<p>
						Vesmír se řídí zákony, které ho neustále udržují v&nbsp;rovnováze. Jedním z&nbsp;nich je i&nbsp;zákon karmy –&nbsp;neboli následků za&nbsp;naše činy. Proces karmy můžeme vnímat ve&nbsp;vztazích, ve&nbsp;fyzikálních zákonech (zákon o&nbsp;zachování energie), ale i&nbsp;ve&nbsp;společnosti jako takové.
					</p>
					<p>
						Tento princip funguje bez&nbsp;ohledu na&nbsp;to, jestli v&nbsp;něj věříme, nebo ho uznáváme. Například když dáme ruku do&nbsp;ohně, spálíme se. Nebo když se k někomu zachováme špatně, vztah s&nbsp;danou osobou je trvale poškozen a&nbsp;je třeba&hellip;
					</p>
					<a n:href="Article:manAndAnimals" class="arrow-link">Pokračovat ve&nbsp;čtení</a>
				</div>
				<button class="btn btn-text btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseText" aria-expanded="false" aria-controls="collapseText">
				    <span class="closed">Číst dále</span>
				    <span class="opened">Skrýt text</span>
				</button>
			</div>
			<div class="col-md-6 video">
				<div>
					<iframe title="Ze života volků na farmě Krišnův dvůr" src="https://www.youtube.com/embed/pYxeekJjbgM?feature=oembed" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="500" height="281" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>

<section class="nasi-volci_get-to-know text-center">
	<div class="container">
		<h2>Seznamte se</h2>
		<p class="hero">
			Volci, kteří táhnou padayātrový vůz, žijí přes&nbsp;rok na&nbsp;farmách Krišnův dvůr a&nbsp;Nava Gókula, kde je o&nbsp;ně s&nbsp;láskou postaráno.
		</p>
		<div class="row">
			<div class="col-lg-4">
				<img src="{$basePath}/{=IMAGES_DIR}/kruh/Kruh-Pavana.png" alt="">
				<div class="text">
					<h3>Pávana</h3>
					<p>
						Věčně přejezený Pávana je zakulacený vtipálek. Raději se schová za&nbsp;Džanmaštáma místo toho, aby poslechnul kočího. Rád dělá věci po&nbsp;svém a&nbsp;když už poslechne, přenechá většinu práce na&nbsp;svém bratrovi. Když ale Džanmaštám onemocněl, musel se Pávana pochlapit a&nbsp;nyní v&nbsp;páru s&nbsp;Dévadatou důstojně zastává místo prvního tahouna.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="{$basePath}/{=IMAGES_DIR}/kruh/Kruh-Devadatta.png" alt="">
				<div class="text">
					<h3>Devadatta</h3>
					<p>
						Dévadata statečně převzal povinnosti Džanmaštáma. I&nbsp;přes to, že je ještě mladý a&nbsp;v&nbsp;tomto oboru nový, vede si úctyhodně dobře. Namísto zahnutých rohů, kterými jsou obdařeni jeho dva kolegové, jsou jeho rohy rovné, má rozdílnou postavu a&nbsp;odlišné zabarvení. Také si podobně Džanmaštám drží svou důstojnost a&nbsp;s&nbsp;Pávanou to spolu pěkně táhnou.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="{$basePath}/{=IMAGES_DIR}/kruh/Kruh-Dzanmastam.png" alt="">
				<div class="text">
					<h3>Džánmáštám</h3>
					<p>
						Džanmaštám je svalovec první třídy. Je pro Pávanu jako ochranitelský starší bratr, který ho vychovává. Během bratrových vtipů, které ho nebaví, si raději zanechává svůj důstojný postoj. Vždycky jde dva kroky napřed a&nbsp;zodpovědně táhne celý vůz. Teď však ze&nbsp;své povinnosti usměrňovat Pávanu odstoupil kvůli své nemoci. Všichni však doufáme, že se z&nbsp;toho brzy vylíže a&nbsp;z&nbsp;plných sil opět potáhne Padayātrový vůz.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-up-beige"></div>

<section class="nasi-volci_adopt text-center" id="adoptujte-volka">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2">
				<h2>Adoptujte volka</h2>
				<p class="hero">
					Hledáte harmonický vztah? Staňte se sponzorem některého z&nbsp;našich chlupatých krasavců a&nbsp;získejte si jejich srdce!
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 volek">
				<img src="{$basePath}/{=IMAGES_DIR}/volek.png" alt="Jaké jsou moje měsíční výdaje?">
				<span class="arrow-hovering ah01"><img src="{$basePath}/{=IMAGES_DIR}/arrow/05.svg" alt=""></span>
			</div>
			<div class="col-md-7 vydaje">
				<img src="{$basePath}/{=IMAGES_DIR}/vydaje.svg" alt="Výdaj jednoho volka – 7091,–">
				<span class="arrow-hovering ah02"><img src="{$basePath}/{=IMAGES_DIR}/arrow/06.svg" alt=""></span>
			</div>
		</div>
		<div class="row">
			<div class="holder">
				<div class="bg-red text-start">
					<h2>Jak přispět</h2>
					<ul>
						<li>Zadejte trvalý příkaz k&nbsp;úhradě na&nbsp;transparentní účet číslo <a href="https://ib.fio.cz/ib/transparent?a=2900620191">2900620191/2010</a></li>
						<li>Záleží na&nbsp;vás, kolik přispějete</li>
						<li>Variabilní symbol pro&nbsp;adopci volků je 16</li>
						<li>Do&nbsp;zprávy pro&nbsp;příjemce napište, kterého volka chcete sponzorovat</li>
					</ul>
				</div>
				<div class="sliders">
	  				<h3>Takto jsme na tom měsíčně</h3>
	  				<div n:foreach="$oxen as $ox" class="slider">
	  					<img src="{$basePath}/{=IMAGES_DIR}/{=OX_IMAGES_DIR}/{$ox->image|noescape}" alt="">
	  					<h4>{$ox->title}</h4>
	  					<progress value="{$ox->priceReal}" max="{$ox->priceGoal}"></progress>
	  					<div class="money">
	  						<span class="progressValue"></span>&nbsp;Kč z&nbsp;<span class="progressMax"></span>&nbsp;Kč
	  					</div>
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>

<section class="nasi-volci_gifts text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
				<p class="hero">
					Jako poděkování a&nbsp;výraz vděčnosti pro&nbsp;vás máme připravené dárky, které vám na&nbsp;konci roku zašleme (nezapomeňte nám buď poslat vaši adresu, nebo alespoň váš kontakt):
				</p>
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-4 order-md-1">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/farm.svg" alt="">
					<p>
						Den na&nbsp;farmě –&nbsp;společný zážitkový výlet za&nbsp;volky
					</p>
					<small>
						včetně výborného vegetariánského jídla, projížďky s&nbsp;volky, jejich krmení, kartáčování a&nbsp;postrojování, prohlídky farmy včetně kamenných mlýnů apod.
					</small>
				</div>
			</div>
			<div class="col-md-4">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/certificate.svg" alt="">
					<p>
						Jednorázový certifikát o&nbsp;adopci volka.
					</p>
				</div>
			</div>
			<div class="col-md-4 order-md-2">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/calender.svg" alt="">
					<p>
						Padayātrový stolní měsíční kalendář.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<div class="gift">
					<img src="{$basePath}/{=IMAGES_DIR}/icon/gift.svg" alt="">
					<p>
						Podle výše příspěvku vám dále přibalíme něco dobrého na&nbsp;zub, případně jiný dárek spojený s&nbsp;Padayātrou.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-up-beige"></div>

<section class="nasi-volci_thanks text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
				<img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="">
				<p class="hero">
					Mnohokrát děkujeme všem sponzorům. Moc si vaší pomoci vážíme! Navštivte naše sociální sítě, abyste věděli, jak se volkům daří.
				</p>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>
{include '../components/socials.latte'}
{/block}