{block content}
<div class="modal fade vystoupeni_modal" id="modal01" tabindex="-1" aria-labelledby="modal01Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal12" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/1.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
	      						<h4 id="modal01Label">
	      							Malování na&nbsp;obličej
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Jedna z&nbsp;památek, které si můžete odnést z&nbsp;Padayātry, jsou krásné ornamenty, které ozdobí váš obličej nebo třeba ruku. Malujeme podle přání a&nbsp;každá ozdoba je jedinečná. Jediná nevýhoda je, že se nebudete chtít umýt, aby vám vydržely co nejdéle.
							      	</p>
		      					</div>
		      				</div>
      					</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal02" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal02" tabindex="-1" aria-labelledby="modal02Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal01" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/2.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal02Label">
	      							Kartáčování volků
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Naši volci jsou rádi středem pozornosti. Můžete si je pohladit i&nbsp;pořádně vykartáčovat –&nbsp;to mají moc rádi. Už od&nbsp;malička jsou zvyklí na&nbsp;lidi a&nbsp;obzvlášť na&nbsp;děti, takže se nemusíte bát, že by vás potrkali. Pro&nbsp;jistotu je ale vždy dobré poslouchat rady kočího, který je poblíž.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal03" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal03" tabindex="-1" aria-labelledby="modal03Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal02" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/3.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal03Label">
	      							Dynamická meditační hudba
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Tato hudba se nazývá kírtan. Základem je píseň nebo mantra, kterou jedna osoba předzpívává a&nbsp;ostatní po&nbsp;ní opakují za&nbsp;doprovodu hudebních nástrojů, tleskání a&nbsp;tance. Do&nbsp;kírtanu se takto mohou různým způsobem zapojit všichni. Kírtanem začínáme i&nbsp;ukončujeme celé vystoupení.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal04" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal04" tabindex="-1" aria-labelledby="modal04Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal03" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/4.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal04Label">
	      							Prohlídka vozu
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Putovní vůz je dominantou Padayātry. Jedou na&nbsp;něm podobizny A.&nbsp;Č.&nbsp;Bhaktivédánty Svámího, Šrí Čaitanji Maháprabhua a&nbsp;Šrí Nitjánandy Prabhua. U&nbsp;vozu je vždy někdo z&nbsp;organizátorů, kdo vám tyto osobnosti skrývající se za&nbsp;exotickými jmény rád představí.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal05" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal05" tabindex="-1" aria-labelledby="modal05Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal04" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/5.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal05Label">
	      							Knihy o&nbsp;duši
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Kromě pěkného zážitku si z&nbsp;večerního vystoupení můžete odnést i&nbsp;některou z&nbsp;našich knih, které se zabývají vědou o&nbsp;duši. V&nbsp;naší nabídce najdete známé knihy, jako je například Bhagavad-gítá a&nbsp;Šrímad Bhágavatam, ale také další tituly zabývající se poselstvím našeho putujícího festivalu.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal06" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal06" tabindex="-1" aria-labelledby="modal06Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal05" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/6.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal06Label">
	      							Povídání o&nbsp;smyslu Padayātry
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Myšlenka Padayātry je založena na&nbsp;védských textech, které se zabývají např. karmou, reinkarnací, jógou atd., a&nbsp;dávají návod na&nbsp;spokojený a&nbsp;smysluplný život. Během vystoupení představujeme pouze malou ochutnávku této moudrosti. Více se můžete dozvědět v&nbsp;našich knihách.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal07" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal07" tabindex="-1" aria-labelledby="modal07Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal06" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/7.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal07Label">
	      							Divadlo O&nbsp;pyšném princi
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Tento jednoduchý příběh o&nbsp;pyšném princi, kterého napraví moudrá princezna, má velice hlubokou myšlenku –&nbsp;tělesná krása je dočasná, ale krása duše je věčná. Tato hra se na&nbsp;Padayātře hraje spoustu let v&nbsp;různém obsazení a&nbsp;různých variacích a&nbsp;vždy sklízí u&nbsp;diváků úspěch.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal08" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal08" tabindex="-1" aria-labelledby="modal08Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal07" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/8.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal08Label">
	      							Jídlo bez&nbsp;karmy
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Na&nbsp;začátku vystoupení vás přivítáme malou ochutnávkou z&nbsp;naší putovní kuchyně –&nbsp;smaženými bramborami v&nbsp;úžasném těstíčku s&nbsp;kečupem nebo okurkovým salátem (dle počasí). Dobré jídlo patří ke každému festivalu a&nbsp;to naše je navíc bez&nbsp;karmy –&nbsp;vařené s&nbsp;láskou a&nbsp;nabídnuté Bohu.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal09" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal09" tabindex="-1" aria-labelledby="modal09Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal08" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/9.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal09Label">
	      							Soutěž pro děti i&nbsp;dospělé
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Před&nbsp;závěrem vystoupení pořádáme soutěž pro všechny –&nbsp;jedinou kvalifikací je nadšení se zúčastnit. Každý může vyhrát malou památku na&nbsp;Padayātru v&nbsp;podobě samolepky, propisky, magnetu nebo placky a&nbsp;ti, kteří do&nbsp;toho opradu dají srdce, si mohou vybrat i&nbsp;knihu nebo obrázek.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal10" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal10" tabindex="-1" aria-labelledby="modal10Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal09" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/10.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal10Label">
	      							Zeptejte se na&nbsp;cokoli
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Padayātrā vzbuzuje mnoho otázek, na&nbsp;které ale není možné odpovědět v&nbsp;rámci programu na&nbsp;pódiu. Pokud vás zajímá cokoli ohledně festivalu, způsobu našeho života nebo východní filozofie, kdokoli z&nbsp;pořadatelů vám rád na&nbsp;vaše otázky odpoví.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal11" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal11" tabindex="-1" aria-labelledby="modal11Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal10" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/11.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal11Label">
	      							Létající banány
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		V&nbsp;oblasti Vradži (severní Indie) se každoročně koná Padayātrā, která putuje po&nbsp;posvátných místech. Padayātrový vůz je po&nbsp;střechu naložený banány, které poutníci hází vesničanům, a&nbsp;ti je s&nbsp;nadšením za&nbsp;letu chytají. Tato tradice inspirovala závěr našeho vystoupení –&nbsp;Létající banány.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal12" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<div class="modal fade vystoupeni_modal" id="modal12" tabindex="-1" aria-labelledby="modal12Label" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    	<div class="modal-content">
      		<div class="modal-body">
      			<div class="row">
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal11" aria-label="Previous">
      						<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-left.svg" alt="">
      					</button>
      				</div>
      				<div class="col-10">
      					<div class="row">
      						<div class="col-lg-6 col-xl-5 image">
		      					<img src="{$basePath}/{=IMAGES_DIR}/thing/12.png" alt="">
		      				</div>
		      				<div class="col-lg-6 col-xl-7">
		      					<h4 id="modal12Label">
	      							Tanec Bharat Natyam
	      						</h4>
		      					<div class="bubble">
			      					<p>
							      		Tento chrámový tanec pochází z&nbsp;jižní Indie a&nbsp;pro&nbsp;tanečnice je formou meditace. Má dvě části: Dynamická část je tvořena soubory komplikovaných tanečních kroků a&nbsp;gesty dlaní a&nbsp;prstů, výrazová část pak vypráví různé příběhy z&nbsp;Véd.
							      	</p>
							    </div>
		      				</div>
		      			</div>
      				</div>
      				<div class="col-1 px-0">
      					<button type="button" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal01" aria-label="Next">
	      					<img src="{$basePath}/{=IMAGES_DIR}/arrow-short-right.svg" alt="">
	      				</button>
      				</div>
      			</div>
		    </div>
    	</div>
  	</div>
</div>

<section class="vystoupeni_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-lg-6">
				<h1>Večerní vystoupení</h1>
			</div>
			<div class="col-lg-6">
				<div class="vystoupeni-carousel">
	  				<div class="carousel-cell">
	  					<div class="review">
	  						<p class="hero">
	  							„Nejvíce se líbilo vystoupení tanečnice, ochutnávka, všichni si užili divadlo a&nbsp;nakonec se pobavili při&nbsp;soutěži a&nbsp;při&nbsp;chytání létajících banánů.“
	  						</p>
	  						<span>
	  							Bc.&nbsp;Dušan Žmolil<br>
	  							starosta Týnce nad&nbsp;Labem
	  						</span>
	  					</div>
	  				</div>
	  				
	  				<div class="carousel-cell">
	  					<div class="review">
	  						<p class="hero">
	  							„Ano, po&nbsp;návštěvě kulturního vystoupení Padayātry jsem se rozhodl, že už nebudu rasista.“
	  						</p>
	  						<span>
	  							Josef<br>
	  							návštěvník vystoupení
	  						</span>
	  					</div>
	  				</div>

	  				<div class="carousel-cell">
	  					<div class="review">
	  						<p class="hero">
	  							„Večerní vystoupení na&nbsp;mě zapůsobilo velice pozitivně, pohladilo mi duši.“
	  						</p>
	  						<span>
	  							Jarmila<br>
	  							návštěvnice vystoupení
	  						</span>
	  					</div>
	  				</div>

	  				<div class="carousel-cell">
	  					<div class="review">
	  						<p class="hero">
	  							„Potěšilo mě sledovat, jak lidé z&nbsp;mého sousedství, kteří často ani neodpoví na&nbsp;pozdrav, se usmívají a&nbsp;zapojují do programu.“
	  						</p>
	  						<span>
	  							Nikola<br>
	  							návštěvnice vystoupení
	  						</span>
	  					</div>
	  				</div>

	  				<div class="carousel-cell">
	  					<div class="review">
	  						<p class="hero">
	  							„Večerní program byl kromě dobré nálady zaměřený na&nbsp;vysvětlení principu konfliktů a&nbsp;lepšího soužití lidí. Ohlasy návštěvníků byly dobré.“
	  						</p>
	  						<span>
	  							Mgr.&nbsp;Petr Kesner<br>
	  							městský úřad Kolín
	  						</span>
	  					</div>
	  				</div>
	  			</div>
			</div>
		</div>
	</div>
</section>

<section class="vystoupeni_program">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 order-lg-1 px-lg-5">
				<h2>Zábava s&nbsp;bonusem</h2>
				<p>
					Slovo kultura pochází ze&nbsp;starověkého Říma a&nbsp;původně to bylo označení pro&nbsp;‚péči o&nbsp;duši‘. Jelikož v&nbsp;dnešní době není jasné, co je duše, jsou také různé názory na&nbsp;to, co je vlastně kultura. Její původní účel –&nbsp;pozvednout duši –&nbsp;se zdá být ztracený. Ve&nbsp;Védách, nadčasových textech dávného východu, je popsána kultura duchovního světa, kde je každý krok tancem a&nbsp;každé slovo písní. Na&nbsp;Pádajátře dostanete malou ochutnávku této kultury barev, hudby, zpěvu a&nbsp;radosti.
				</p>
				<p>
					Védská kultura je výjimečná, protože jako jediná na&nbsp;světě přímo vychází z&nbsp;poznání o&nbsp;rozdílu mezi tělem a&nbsp;duší. Toto poznání se odráží ve&nbsp;všech prvcích védského života, a&nbsp;proto jsme si tuto kulturu vybrali jako náš vzor a&nbsp;inspiraci. Její zbytky se nejvíce zachovaly na&nbsp;území dnešní Indie, ale svou podstatou je univerzální a&nbsp;její principy jsou aktuální a&nbsp;použitelné všude.
				</p>
				<a n:href="Article:soulCulture" class="arrow-link">Pokračovat ve&nbsp;čtení</a>
			</div>
			<div class="col-lg-6 program">
				<div>
					<h3>Program</h3>
					<table>
						<tr>
							<th>18:00</th>
							<td>Přivítání a&nbsp;hudební ukázka</td>
						</tr>
						<tr>
							<th>18:15</th>
							<td>Ochutnávka jídla bez&nbsp;karmy</td>
						</tr>
						<tr>
							<th>18:25</th>
							<td>Tanec Bharata Natjam</td>
						</tr>
						<tr>
							<th>18:35</th>
							<td>Divadlo O&nbsp;pyšném princi</td>
						</tr>
						<tr>
							<th>18:50</th>
							<td>Povídání o&nbsp;smyslu Padayātry</td>
						</tr>
						<tr>
							<th>19:05</th>
							<td>Tanec Bharata Natjam</td>
						</tr>
						<tr>
							<th>19:15</th>
							<td>Soutěž pro&nbsp;děti i&nbsp;dospělé</td>
						</tr>
						<tr>
							<th>19:30</th>
							<td>Závěr</td>
						</tr>
					</table>
					<span>Změna programu vyhrazena</span>
					<a n:href="Tour:route#program" class="btn btn-red">Místa konání festivalu</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="vystoupeni_have-fun text-center">
	<div class="container">
		<div class="row">
			<div class="col-10 col-lg-8 offset-1 offset-lg-2">
				<h2>Přijďte se bavit s&nbsp;námi!</h2>
			</div>
		</div>
	</div>
</section>

<section class="vystoupeni_things text-center">
	<div class="container-xxl px-4">
		<div class="row">

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal01" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/1.png" alt="">
					Malování na&nbsp;obličej
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal02" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/2.png" alt="">
					Kartáčování volků
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal03" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/3.png" alt="">
					Dynamická meditační hudba
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal04" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/4.png" alt="">
					Prohlídka vozu
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal05" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/5.png" alt="">
					Knihy o&nbsp;duši
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal06" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/6.png" alt="">
					Povídání o&nbsp;smyslu Padayātry
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal07" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/7.png" alt="">
					Divadlo O&nbsp;pyšném princi
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal08" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/8.png" alt="">
					Jídlo bez&nbsp;karmy
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal09" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/9.png" alt="">
					Soutěž pro&nbsp;děti i&nbsp;dospělé
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal10" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/10.png" alt="">
					Zeptejte se na&nbsp;cokoli
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal11" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/11.png" alt="">
					Létající banány
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-3 col-xl-2">
				<div data-bs-toggle="modal" data-bs-target="#modal12" class="thing">
					<img src="{$basePath}/{=IMAGES_DIR}/thing/12.png" alt="">
					Tanec Bharat Natyam
				</div>
			</div>

		</div>
	</div>
</section>

<div class="transition transition-up-beige"></div>

<section class="vystoupeni_gallery text-center">
	<div class="container">
		<h2>Jak vypadá Padayātrā?</h2>
		<hr>
		<h3>Průvod s&nbsp;volským povozem</h3>
		<div class="gallery">
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-1.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-1.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-2.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-2.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-3.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-3.jpg" class="img-fluid">
				</a>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-4.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-4.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-7.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-7.jpg" class="img-fluid">
					</a>
				</div>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-5.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-5.jpg" class="img-fluid">
				</a>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-6.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-6.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-8.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-8.jpg" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-9.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-9.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-14.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-14.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-10.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-10.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-12.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-12.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-15.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-15.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-11.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-11.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-13.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-13.jpg" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-16.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-16.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-17.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-17.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-18.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-18.jpg" class="img-fluid">
				</a>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-19.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-19.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-22.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-22.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-20.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-20.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-24.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-24.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-21.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-21.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-23.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-23.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-25.jpg" data-fslightbox="gallery01">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-25.jpg" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-26.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-26.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-27.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-27.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-28.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-28.jpg" class="img-fluid">
				</a>
			</div>
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/01/Volsky-povoz-29.jpg" data-fslightbox="gallery01" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/01/thumb_Volsky-povoz-29.jpg" class="img-fluid">
				</a>
			</div>
		</div>
		<hr>
		<h3>Večerní vystoupení</h3>
		<div class="gallery">
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-30.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-30.jpg" class="img-fluid">
				</a>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-31.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-31.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-33.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-33.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-32.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-32.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-34.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-34.jpg" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-35.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-35.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-38.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-38.jpg" class="img-fluid">
					</a>
				</div>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-36.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-36.jpg" class="img-fluid">
				</a>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-37.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-37.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-39.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-39.jpg" class="img-fluid">
					</a>
				</div>
			</div>
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-40.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-40.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-41.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-41.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-42.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-42.jpg" class="img-fluid">
				</a>
			</div>
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-43.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-43.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-44.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-44.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-45.jpg" data-fslightbox="gallery02" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-45.jpg" class="img-fluid">
				</a>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-46.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-46.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-51.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-51.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-47.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-47.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-49.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-49.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-52.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-52.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-48.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-48.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/02/Vecerni-vystoupeni-50.jpg" data-fslightbox="gallery02">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/02/thumb_Vecerni-vystoupeni-50.jpg" class="img-fluid">
					</a>
				</div>
			</div>
		</div>
		<hr>
		<h3>Naši volci</h3>
		<div class="gallery">
			<div class="row">
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-53.jpg" data-fslightbox="gallery03" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-53.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-54.jpg" data-fslightbox="gallery03" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-54.jpg" class="img-fluid">
				</a>
				<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-55.jpg" data-fslightbox="gallery03" class="col-sm-4">
					<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-55.jpg" class="img-fluid">
				</a>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-56.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-56.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-60.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-60.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-57.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-57.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-61.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-61.jpg" class="img-fluid">
					</a>
				</div>
				<div class="col-sm-4">
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-58.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-58.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-59.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-59.jpg" class="img-fluid">
					</a>
					<a href="{$basePath}/{=IMAGES_DIR}/gallery/03/Volci-62.jpg" data-fslightbox="gallery03">
						<img src="{$basePath}/{=IMAGES_DIR}/gallery/03/thumb_Volci-62.jpg" class="img-fluid">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container text">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="">
				<p class="hero">
					Vezměte své blízké, přátele a&nbsp;rodinu a&nbsp;pojďte si společně užít pár příjemných chvil.<br>
					Těšíme se na&nbsp;vás!
				</p>
			</div>
		</div>
	</div>
</section>


<div class="transition transition-down-beige"></div>
{include '../components/socials.latte'}
{/block}