<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{block title|striptags}{/block} | padajatra.cz ADMIN</title>

    <link href="{$basePath}/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{$basePath}/css/admin/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="{$basePath}/css/admin/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/style.css?v=1" rel="stylesheet">
    
    <!-- FooTable -->
    <link href="{$basePath}/css/admin/plugins/footable/footable.bootstrap.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="{$basePath}/css/admin/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/plugins/iCheck/custom.css" rel="stylesheet">    
    <script src="{$basePath}/js/admin/jquery-3.1.1.min.js"></script>
    <script src="{$basePath}/js/admin/jquery.form.min.js"></script>
        <style>
        .cke_combopanel {
             width: 250px !important;
        }
        .cke_combopanel__styles {
            width: 250px !important;
        }
    </style>
    {block head}
    {/block}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header" style="text-align: center;">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="{$basePath}/{=IMAGES_DIR}/logo.svg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">{$user->identity->fullname}</strong></span>
                                    <span class="text-muted text-xs block">Administrator <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a n:href="Sign:out">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">PY<div class="small">ADMIN</div></div>
                    </li>
                    {*<li n:class="$presenter->isLinkCurrent('Page:form', ['about']) ? active">
                        <a n:href="Page:form, 'about'"><i class="fa fa-sun-o"></i><span class="nav-label">O nás</span></a>
                    </li>*}
                    <li n:class="$presenter->isLinkCurrent('Tour:*') ? active">
                        <a n:href="Tour:list" title="O nás"><i class="fa fa-road"></i><span class="nav-label">Turné</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Tour:list') ? active"><a n:href="Tour:list">Přehled</a></li>
                            <li n:class="$presenter->isLinkCurrent('Tour:add') ? active"><a n:href="Tour:add">Přidat</a></li>
                        </ul>
                    </li>
                    {*<li n:class="$presenter->isLinkCurrent('Reference:*') ? active">
                        <a n:href="Tour:list" title="O nás"><i class="fa fa-commenting-o"></i><span class="nav-label">Reference</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Reference:list') ? active"><a n:href="Reference:list">Přehled</a></li>
                            <li n:class="$presenter->isLinkCurrent('Reference:add') ? active"><a n:href="Reference:add">Přidat</a></li>
                        </ul>
                    </li>
                    <li n:class="$presenter->isLinkCurrent('Page:form', ['peace']) || $presenter->isLinkCurrent('Page:form', ['history']) || $presenter->isLinkCurrent('Page:form', ['soul']) || $presenter->isLinkCurrent('Page:form', ['animals']) ? active">
                        <a><i class="fa fa-file-text"></i><span class="nav-label">Poznejte více</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Page:form', ['peace']) ? active"><a n:href="Page:form, 'peace'">Kroky k míru</a></li>
                            <li n:class="$presenter->isLinkCurrent('Page:form', ['history']) ? active"><a n:href="Page:form, 'history'">Historie</a></li>
                            <li n:class="$presenter->isLinkCurrent('Page:form', ['soul']) ? active"><a n:href="Page:form, 'soul'">Kultura duše</a></li>
                            <li n:class="$presenter->isLinkCurrent('Page:form', ['animals']) ? active"><a n:href="Page:form, 'animals'">Člověk a zvířata</a></li>
                        </ul>
                    </li>
                    *}
                    <li n:class="$presenter->isLinkCurrent('Support:*') ? active">
                        <a n:href="Support:list" title="Podpořte nás"><i class="fa fa-money"></i><span class="nav-label">Podpořte nás</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li><span class="m-r-sm text-muted welcome-message">{$user->identity->fullname}</span></li>
                        <li class="dropdown">
                            <img alt="image" class="logo" src="{$basePath}/{=IMAGES_DIR}/logo.svg" />
                        </li>
                        <li class="main-ajax-spinner">
                            <div class="sk-spinner sk-spinner-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>
                        </li>
                        <li>
                            <a class="logout-nav-button" n:href="Sign:out">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            {include main}
            <div class="footer">
                <div class="pull-right"></div>
                <div><strong>Copyright</strong> MKD &copy; 2022</div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{$basePath}/js/admin/bootstrap-3.3.7.min.js"></script>
    <script src="{$basePath}/js/admin/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{$basePath}/js/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>    
    <script src="{$basePath}/js/admin/inspinia.js"></script>
    <script src="{$basePath}/js/admin/plugins/pace/pace.min.js"></script>
    <script src="{$basePath}/js/admin/jquery-ui.min.js"></script>

    <!-- Toastr script -->
    <script src="{$basePath}/js/admin/plugins/toastr/toastr.min.js"></script>

    <script src="{$basePath}/js/admin/nette.ajax.js"></script>
    <script src="{$basePath}/js/admin/admin.js"></script>

    <!-- FooTable -->
    <script src="{$basePath}/js/admin/plugins/footable/footable.min.js"></script>    
    <!-- Sweet alert -->
    <script src="{$basePath}/js/admin/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Jquery Validate -->
    <script src="{$basePath}/js/admin/plugins/validate/jquery.validate.min.js"></script>
    <!-- Date picker -->
    <script src="{$basePath}/js/admin/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/js/admin/plugins/iCheck/icheck.min.js"></script>
    <!-- Forms -->
    <script src="{$basePath}/js/admin/forms.js"></script>

    {snippet flashes}
    <script>
    {foreach $flashes as $flash}
        toastr.{$flash->type|noescape}({$flash->message});
    {/foreach}
    </script>
    {/snippet}
    {block scripts}
    {/block}
</body>
</html>
