<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>padajatra.cz - ADMIN</title>

    <link href="{$basePath}/css/admin/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/css/admin/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/admin/style.css" rel="stylesheet">
    <style>
        .logo { 
            width: 200px;
        }
    </style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div style="margin-bottom: 10px;">
                <img class="logo" src="{$basePath}/{=IMAGES_DIR}/logo.svg" />
            </div>
            <p style="font-size: 20px;"><strong><span style="color: #d10643">padajatra.cz</span> - ADMIN</strong></p>
            <p>Přihlášení do administrace</p>
			{form signInForm, class => m-t, role => form}
			    {if $form->hasErrors()}
                    <div class="login-error">{$form->errors[0]}</div>
                {/if}
                <div class="form-group">
	                {input username, class => form-control, placeholder => "Uživatelské jméno"}
                </div>
                <div class="form-group">
	                {input password, class => form-control, placeholder => "Heslo"}
                </div>
                {input send, class => "btn btn-primary block full-width m-b"}

			{/form}
            <p class="m-t"> <small>MKD &copy; 2020</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{$basePath}/js/admin/jquery-3.1.1.min.js"></script>
    <script src="{$basePath}/js/admin/bootstrap-3.3.7.min.js"></script>

</body>
</html>