{block content}
<section class="pro-ucastniky_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-lg-6">
				<h1>Pro účastníky</h1>
			</div>
			<div class="col-lg-6">
				<div class="review">
					<p class="hero">
						„Skvělý zážitek, skvělá atmosféra, skvělí lidé&hellip; Děkuji za&nbsp;to :-).“
					</p>
					<span>Mirka</span>
				</div>
				<div class="review">
					<p class="hero">
						„Podle mě je Padayātrā moc krátká.“
					</p>
					<span>Roman</span>
				</div>
				<div class="review">
					<p class="hero">
						„Padayātrā je pro&nbsp;mě srdeční záležitost, těším se na&nbsp;ni celý rok!“
					</p>
					<span>Jana</span>
				</div>
				<div class="review">
					<p class="hero">
						„Padayātrā je super, nejvíc se mi líbí, že se nemusím o&nbsp;nic starat a&nbsp;jen jít, zpívat a&nbsp;tancovat, potom s&nbsp;něčím pomoci a&nbsp;jít spát. Život je jednoduchý a&nbsp;krásný na&nbsp;Padayātře.“
					</p>
					<span>Lukáš</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pro-ucastniky_adventure text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
				<img src="{$basePath}/{=IMAGES_DIR}/logo.svg" alt="">
				<p class="hero">
					Zúčastněte se putujícího festivalu, zažijete něco jedinečného! Budeme rádi, když se k&nbsp;nám přidáte, ať už to bude na&nbsp;jeden den, nebo na&nbsp;celou dobu Padayātry.
				</p>
			</div>
		</div>
	</div>
</section>

<div class="transition transition-down-beige"></div>

<section class="pro-ucastniky_come-as text-center">
	<div class="container">
		<h2>Pojďte s&nbsp;námi jako</h2>
		<div class="row">

			<div class="col-lg-4">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/poutnik.jpg" alt="Poutník">
				<div class="list text-start">
					<ul>
						<li>nespí na&nbsp;Padayātře</li>
						<li>vynikající vegetariánská strava zdarma</li>
						<li>tato možnost je přístupná široké veřejnosti</li>
					</ul>
					<p>
						Jako <strong>Poutník</strong> se můžete seznámit s&nbsp;Padayātrou a&nbsp;ochutnat její jedinečnou atmosféru. Tuto možnost nabízíme každému, jen si z&nbsp;bezpečnostních důvodů při&nbsp;vašem příchodu zapíšeme vaše jméno a&nbsp;číslo vašeho OP. Také není možné na&nbsp;Padayātře přespat. Pokud se tímto způsobem zúčastníte více dní, můžete se po&nbsp;dohodě s&nbsp;organizátory zúčastnit jako <strong>Turista</strong> nebo <strong>Pracant</strong>.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/turista.jpg" alt="Turista">
				<div class="list text-start">
					<ul>
						<li>spí na&nbsp;Padayātře</li>
						<li>nezapojuje se do&nbsp;provozu festivalu –&nbsp;je na&nbsp;výletě</li>
						<li>platí příspěvek na&nbsp;stravu 200,-&nbsp;/&nbsp;den a&nbsp;hradí i&nbsp;případné poplatky za&nbsp;ubytování</li>
					</ul>
					<p>
						Chcete se zúčastnit Padayātry, ale rádi byste to pojali jako výlet? Pak je tu pro&nbsp;vás možnost <strong>Turista</strong>. Místo fyzické pomoci s&nbsp;provozem festivalu vás poprosíme o&nbsp;příspěvek na&nbsp;stravu a&nbsp;ubytování. Tento způsob účasti je určen pro&nbsp;osoby, se kterými se už známe.
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/pracant.jpg" alt="Pracant">
				<div class="list text-start">
					<ul>
						<li>spí na&nbsp;Padayātře</li>
						<li>aktivně pomáhá s&nbsp;chodem celého festivalu</li>
						<li>pobyt i&nbsp;stravu má zdarma</li>
					</ul>
					<p>
						Jako <strong>Pracant</strong> můžete ochutnat pravou chuť Padayātry. <strong>Poutník</strong> se seznamuje a&nbsp;<strong>Turista</strong> je na&nbsp;výletě, ale <strong>Pracant</strong> si může Padayātru vychutnat takovou, jaká doopravdy je.
					</p>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
				<p class="hero">
					Kvůli bezpečnosti na&nbsp;silnicích a&nbsp;kapacitě ubytovacích prostor je na&nbsp;Padayātře omezený počet účastníků (max. 50). Proto se prosím co nejdříve zaregistrujte, aby na&nbsp;vás zbylo místo!
				</p>
				<a target=_blank href="https://www.supersaas.cz/schedule/Padayatra/Paday%C4%81tr%C4%81_2021" class="btn">Registrovat se</a>
			</div>
		</div>
		
	</div>
</section>

<section class="pro-ucastniky_kids">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>
					Děti na<br>Padayātře
				</h2>
			</div>
			<div class="col-md-6">
				<ul>
					<li>Děti do&nbsp;12&nbsp;let mohou být na&nbsp;Padayātře pouze s&nbsp;rodiči.</li>
					<li>Děti starší 12&nbsp;let mohou být na&nbsp;Padayātře bez&nbsp;rodičů pouze v&nbsp;případě, že za&nbsp;ně převezme zodpovědnost osoba starší 18&nbsp;let a&nbsp;podepíše Prohlášení o&nbsp;zodpovědnosti.</li>
				</ul>
				<a href="{$basePath}/media/Prohlaseni-o-odpovednosti-za-dite-na-Padayatre.pdf" class="btn btn-outline">Stáhnout prohlášení</a>
			</div>
		</div>
	</div>
</section>

<section class="pro-ucastniky_manual">
	<div class="container">
		<div class="row">
			<div class="col-7 col-md-6">
				<h2>
					Padayātrový manuál
				</h2>
				<p>
					Tato důležitá příručka vám odpoví na&nbsp;všechny otázky ohledně účasti na&nbsp;Padayātře.
				</p>
				<ul>
					<li>Co s&nbsp;sebou</li>
					<li>Denní rozvrh</li>
					<li>Pravidla bezpečnosti</li>
					<li>Kdo má co na&nbsp;starosti</li>
				</ul>
				<a href="{$basePath}/media/Padayatrovy-Manual.pdf" class="btn btn-outline">Stáhnout PDF</a>
			</div>
		</div>
	</div>
</section>
{/block}