{block content}
<section class="trasa_intro">
	<div class="container-fluid px-sm-5">
		<div class="row">
			<div class="col-lg-6">
				<h1>Trasa 2021</h1>
			</div>
			<div class="col-lg-6">
				<div class="text">
					<p class="hero">
						Trasu letošní Padayātry právě zařizujeme. Více podrobností zde naleznete po&nbsp;dokončení příprav. Děkujeme za&nbsp;vaši trpělivost.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="trasa_trasa text-center" id="program">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img src="{$basePath}/{=IMAGES_DIR}/logo-text-2021.svg" alt="">

				<div class="text">
					<p class="date">18.&nbsp;7.&nbsp;—&nbsp;1.&nbsp;8.&nbsp;2021</p>
					<p class="route">Sušice&nbsp;<img class="arrow" src="{$basePath}/{=IMAGES_DIR}/arrow.svg" alt="→">&nbsp;Písek</p>
					<p class="details">12&nbsp;zastávek ☼ 110&nbsp;kilometrů</p>
				</div>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>Den</th>
								<th>Datum</th>
								<th>Místo</th>
								<th>Ubytování</th>
								<th>Vystoupení</th>
							</tr>
						</thead>
						<tbody>
							<tr n:foreach="$tour_places as $tour_place" n:class="$tour_place->place_date == $today ? tr-highlight">
								<td>{$tour_place->place_date|dayOfWeek|substr: 0, 2}</td>
								<td>{$tour_place->place_date|date: 'j.n'}</td>
								<td>{$tour_place->place}</td>
								<td>
									<div class="d-flex justify-content-between">
									{$tour_place->accommodation}
										<div class="d-flex">
											<img n:if="$tour_place->tent" class="td-icon" src="{$basePath}/{=IMAGES_DIR}/icon/tent-icon.svg" title="stan" />
											<img n:if="$tour_place->shower" class="td-icon" src="{$basePath}/{=IMAGES_DIR}/icon/shower-icon.svg" title="sprcha" />
											<img n:if="$tour_place->shower_bucket" class="td-icon" src="{$basePath}/{=IMAGES_DIR}/icon/shower-bucket-icon.svg" title="sprcha kýblem" />
											<img n:if="$tour_place->accommodation_fee" class="td-icon" src="{$basePath}/{=IMAGES_DIR}/icon/accommodation-fee-icon.svg" title="poplatek za ubytování" />
										</div>
									</div>
								</td>
								<td>{$tour_place->performance}</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="trasa_legend text-center">
	<div class="container">
		<h4>Vysvětlivky</h4>
		<div class="row">
			<div class="col-6 col-md-3">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/shower-icon.svg" alt="Sprcha">
				<p>Sprcha v&nbsp;místě ubytování s&nbsp;teplou vodou.</p>
			</div>
			<div class="col-6 col-md-3">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/shower-bucket-icon.svg" alt="Sprcha kýblem">
				<p>Sprcha kýblem s&nbsp;využitím sprchové zástěny.</p>
			</div>
			<div class="col-6 col-md-3">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/tent-icon.svg" alt="Stan">
				<p>Ubytovací prostory jsou malé, mějte s&nbsp;sebou raději stan.</p>
			</div>
			<div class="col-6 col-md-3">
				<img src="{$basePath}/{=IMAGES_DIR}/icon/accommodation-fee-icon.svg" alt="Poplatek za ubytování">
				<p>Poplatek za&nbsp;ubytování. Pracantům hradí Padajātrā. Turisté si poplatek hradí sami.</p>
			</div>
		</div>
	</div>
</section>
{include '../components/wantToJoin.latte'}
{/block}