.font-delivery-regular {
  font-family: delivery;
}
.font-krsna-regular {
  font-family: krsna;
}
.font-freshbar-script {
  font-family: fresh;
}
.bg-color-beige {
  background-color: #f6eae2;
}
.bg-color-red {
  background-color: #e04d4d;
}
.bg-flowers {
  background-image: url(../images/bg-flowers.png);
}
@media (max-width: 479px ) {
  .col-us-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px ) and (max-width: 767px ) {
  .col-vs-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
@media (min-width: 576px ) and (max-width: 767px ) {
  .col-vs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 576px ) and (max-width: 767px ) {
  .col-vs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.breaker-xs-max {
  display: none;
}
@media (max-width: 575px ) {
  .breaker-xs-max {
    display: block;
  }
}
.breaker-us-max {
  display: none;
}
@media (max-width: 479px ) {
  .breaker-us-max {
    display: block;
  }
}
.breaker-410-max {
  display: none;
}
@media (max-width: 410px) {
  .breaker-410-max {
    display: block;
  }
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.link {
  color: #999933;
}
.link:hover {
  color: #999933;
  text-decoration: underline;
}
.link-dark {
  color: #333333;
}
.link-dark:hover {
  color: #333333;
  text-decoration: underline;
}
.link-still {
  color: inherit;
  text-decoration: none;
}
.link-still:hover {
  color: inherit;
  text-decoration: none;
}
.nodrag-noselect {
  pointer-events: none;
  user-select: none;
}
.nopadding {
  padding: 0 !important;
}
.strong {
  font-weight: bold;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
input:hover input:active,
input:focus,
textarea:active,
textarea:hover,
textarea:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
}
input:focus {
  box-shadow: none !important;
}
