@import "bootstrap-hacks.less";

.col-xl-6 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	
    @media @screen-lg {	    
		width: 50%;
		float: left;
	}
}

.mb-0 {
	margin-bottom: 0 !important;
}

@colorDanger: #ed5565;

@import "inspinia.css";
@import "layout.less";
@import "forms.less";
@import "lists.less";
@import "tree.less";
@import "galery.less";
@import "audio.less";