.albums_list {
    .list-box-content {
        hr {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}

.records_list {
    .list-audio-player {
        width: 100%;
        margin-top: -4px;
        height: 30px;
        margin-bottom: -10px;
    }
}