.ibox-title {
	.ibox-select {
		width: 200px;
		height: 25px;
		margin-top: -3px;
		margin-left: 10px;
		padding: 0;
		padding-left: 3px;
		float: left;
	}

	&.empty {
		padding: 0;
		min-height: 0;	
	}
}

label.error {
	margin-bottom: 0px;
}

.week-input-container {
	width: 280px; 
	float: left;
}

label.tiny-label {
	width: 41px;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
} 

.i-checks-label {
	cursor: pointer;
}

div[class^='icheckbox_square'] {
	margin-top: 7px;
}

.i-checks {
	.radiolist label {
		cursor: pointer;
		line-height: 20px;
	}

	label {
		white-space: nowrap;
	}
}

.textarea {
	border: 1px solid #e5e6e7;
	height: 100px !important;
}

.icheckbox_square-green {
	background-color: #FFFFFF !important;
	margin-right: 5px !important;
}

.iradio_square-green {
	margin-right: 5px !important;
	margin-left: 15px !important;	
}

.ibox-content {
	.crop-previews-container {
		@media @screen-md-min {
			padding: 0;
		}

		.img-crop-preview {
			width: 470px; 
			height: 230px;
			background-size: cover;
			background-color: #DDDDDD;
		}

		.img-crop-mobile {
			width: 270px; 
			height: 540px;
			background-size: cover;
			background-color: #DDDDDD;
		}
	}
	
	.img-crop-master-preview {
	    max-width: 100%;
	    max-height: 600px;
	    padding-right: 15px;
	}		
}

.form-group {
	&.padding-radio {
		padding-top: 29px;
	}
	
	&.padding-checkbox {
		padding-top: 14px;
	}	
}

.image-preview-container {
	margin-top: 15px;
	margin-bottom: 10px;
}

.image-preview {
	width: 25%;
	max-width: 518px;
	margin-top: 4px;
	display: block;
}

.image-preview-small {
	width: 12.5%;
	max-width: 259px;
	margin-top: 4px;
	display: block;
}

.image-preview-large {
	width: 50%;
	max-width: 1036px;
	margin-top: 4px;
	display: block;
}

.tabs-container {
	.tab-pane {
		&.height-hidden {
			height: 0;
			overflow: hidden;
		}
	}
}

.radio-buttons-container {
	padding-top: 8px;
	padding-left: 0;
}

#youtube_thumbnail {
	margin-top: 10px;
}

.ckeditor-textarea {
	min-height: 660px;
}

.select-box {
	option[disabled] {
		background-color: #EEEEEE;
	}
}

.ibox-content {
	.tiny { width: 100px; }
	.small { width: 200px; }
	.medium { width: 300px; }
	.large { width: 400px; }
	.xlarge { width: 500px; }
	.xxlarge { width: 600px; }
}

.in-table {
	height: 28px; 
	padding: 1px 5px;
	margin: 5px;
}


.form-control-static {
	font-size: 14px;
}

.upload-control {
	padding: 0;
	border: 0;
}

.fileinput {
	margin-bottom: 0 !important;
}

.fileinput-disabled {
	.form-control {
		background-color: #EEEEEE;
		cursor: not-allowed !important;
	}

	.btn-file {
		background-color: #EEEEEE;
		cursor: not-allowed !important;
	}
}


.datepicker-days {
	.highlight {
		background-color: #fffa90;
	}
}

.dot-delimiter {
	float: left;
	width: 20px;
    text-align: center;
    line-height: 42px;
    height: 32px;
}