.navbar-top-links {
	li a {
		min-height: 0;
	}
	.logout-nav-button {
		padding-top: 10px;
		padding-bottom: 0;
	}
}

.navbar-static-top {
	min-height: 0;
}

.navbar-minimalize {
	margin-top: 5px;
}

.wrapper-content {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

#page-wrapper {
	@media (min-width: 768px) {
		margin-left: 181px;
	}
}

.row {
	&.padding-bottom {
		padding-bottom: 30px;
	}

	@media (max-width: 768px) {
		.col-lg-12 {
			padding: 0;
		}
	}
}

.nav-header {
	padding: 20px 15px;

	.img-circle {
		width: 85px;
		border-radius: 0;
		opacity: 0.9;
	}
}

.navbar-static-top {
	margin-bottom: 0;
	
	.logo {
		height: 28px;
		margin-top: -2px;
		opacity: 0.8;
	}
}

// prvek hlavního menu
.metismenu .fa { 
	margin-left: 2.5px;

	&.fa-child {
		margin-left: 4px;
	}
}

.nav-third-level {
	li.active {
		border-left: 0;
	}
}

// sekundární navigace pod nadpisem (aktivní prvek)
ol.breadcrumb {
	margin-top: 18px;
	float: left;
}

ol.breadcrumb li.active { 
	font-weight: bold;
}

.page-heading {
	padding-bottom: 5px;
}

.page-heading .main-title {
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 56;
	
	&:after {
		content: "/";
		margin-left: 5px;
		color: #CCCCCC;
	}
}

.page-heading.slim {
	height: 66px;
}

.nopadding-right{
	padding-right: 0;	
}

.main-ajax-spinner {
	opacity: 0;
	top: 5px;
	left: 3px;
	transition: 0.6s;

	&.visible {
		opacity: 1;
		transition: 0.6s;
	}
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.relative {
	position: relative;
}

.modal-lg {
	width: 1000px;
}

.panel-body {
	.panel-heading {
		padding: 0;
	}

	.panel-title {
		margin-top: 0;
		padding-top: 5px;
		font-weight: normal;

		a {
			display: block;
			width: 100%;
			padding: 5px 15px 10px;
		}
	}
	
	.panel-group {
		margin-bottom: 0;
	}

	.panel-filler {
		line-height: 0px; 
		margin-top: -10px; 
		visibility: hidden;
	}
}

.ibox-content.clearfix {
	padding-bottom: 5px;
}

.ibox-content.past-divider {
	border-top: 2px @colorDanger dashed;
}

@media (max-width: 768px) {
	.ibox-content {
		overflow-x: scroll;
	}
}

.number-integer {
	width: 30px;
	text-align: right;
	float: left;
}

.number-delimiter {
	float: left;
}

.number-empty {
	width: 28px;
	text-align: right;
}

.number-decimal {
	float: left;
	color: rgba(103,106,108,0.6);
}

#fountainG{
	position:absolute;
	top: 40%;
	left: 45%;
	display: none;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(0,0,0,0.25);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(0,0,0,0.31);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(0,0,0,0.31);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(0,0,0,0.31);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(0,0,0,0.31);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(0,0,0,0.31);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}