.footable {
	visibility: hidden;
}

.table-list {
	visibility: hidden;
	tr.row-click-edit {
		cursor: pointer;
	}
	
	td {
		&.actual {
			color: green;
		}

		&.past {
			color: red;
		}

		&.controls {
			.blank-icon {
				span {
					visibility: hidden;
				}
			}

			.btn-control, .blank-icon {
				font-size: 16px;
				margin-bottom: -10px;
				float: left;
				color: #2F4050;
				
				&.row-delete {
					font-size: 18px;
				}

				&:not(:last-child) {
					margin-right: 3px;
				}
			}

			.btn-control {
				cursor: pointer;
			}
		}

		&.td-icon {
	    	padding-top: 6px;
	    	padding-bottom: 5px;
	    	
	    	i.fa {
		    	font-size: 22px;
	    	}
	    }
	    
		&.td-icon-small {
	    	padding-top: 8px;
	    	padding-bottom: 3px;
	    	
	    	i.fa {
		    	font-size: 19px;
	    	}
	    }	    
		
		.td-img-thumb {
	        width: 19px;
	        height: 19px;
	        margin-right: 5px;
	        border-radius: 3px;
	        
	        &.ratio-16-10 {
		        width: 30px;
		        height: 19px;
	        }
	    }
	}

	td.center {
		text-align: center;
	}

	td.left {
		text-align: left;
		padding-left: 10px;
	}

	td.right {
		text-align: right;
		padding-right: 10px;
	}

	td.bold {
		font-weight: bold;
	}

	td.td-ellipsis {
		max-width: 20vw;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}

	td.align-middle {
		vertical-align: middle;
	}

	td.td-audio-buttons {
		padding: 5px 0 5px 8px;

		.btn {
			margin: 0;
			padding: 1px 6px;
		}
	}

	thead {
		th.controls {
			width: 73px;
			min-width: 73px;
		}

		th.controls-1 {
			width: 35px;
			min-width: 35px;
		}

		th.controls-2 {
			width: 55px;
			min-width: 55px;
		}

		th.controls-3 {
			width: 73px;
			min-width: 73px;
		}

		th.controls-4 {
			width: 90px;
			min-width: 90px;
		}

		th.controls-5 {
			width: 109px;
			min-width: 109px;
		}

		th.controls-6 {
			width: 128px;
			min-width: 128px;
		}

		th.controls-7 {
			width: 147px;
			min-width: 147px;
		}

		th.controls-8 {
			width: 166px;
			min-width: 166px;
		}

		tr.footable-filtering .form-inline{
			.form-group > select {
				margin-top: -5px;
			}
		}
	}

	thead, tfood {
		th {
			-webkit-touch-callout: none; 
			-webkit-user-select: none; 
			-khtml-user-select: none; 
			-moz-user-select: none; 
			-ms-user-select: none; 
			user-select: none;
		}

		th.wide {
			width: 30% !important;
		}

		th.th-date {
			width: 84px;
		}

		th.th-datetime {
			width: 120px;
		}
		
		th.th-dateinterval {
			width: 125px;
		}		

		th.th-date-nosort {
			width: 106px;
		}

		th.th-year {
			width: 65px;
		}

		th.th-on-off-switch {
			width: 85px;
		}

		th.th-audio-buttons {
			width: 72px;
		}		

		th.th-thin {
			width: 10px;
		}

		th.th-small {
			width: 115px;
		}

		th.th-medium {
			width: 200px;
		}

		th.th-large {
			width: 400px;
		}

		th span.footable-sort-indicator {
			display: inline !important;
		}
	}

	.switch.active {
		margin-left: 8px;
	}

	.onoffswitch-label {
		margin-bottom: -2px;
	}

	.glyphicon-gold { color: #FFA500; }
	.glyphicon-blue { color: #0066CC; }
	.glyphicon-red { color: #CC3300; }
	.glyphicon-green { color: #339900; }
	.glyphicon-purple { color: #4E2A84; }
	.glyphicon-lol { color: #0e4a78; }

	.footable-detail-row {
		.ajax-loading {
			display: block;
			margin: 0 auto;
		}
	}
}

tr.footable-detail-row {
	.result-detail {
		margin: 0 20px 0px 15px;

		tr {
			height: 30px;

			th {
				width: 250px;
				font-weight: bold;
				overflow: hidden; 
				text-overflow: ellipsis; 
				white-space: nowrap;
				padding-right: 15px;
			}

			td {
				width: 100px;
			}
		}
	}
}

.list-box {
	min-height: 188px;

	.list-box-image {
		width: 273px;
	    height: 145px;
		margin-right: 20px;
		background-size: auto 100%;
		background-position-x: right;
		transition: 0.2s;
		
		&.ratio-1-1 {
			width: 145px;
			height: 145px;
		}

		&.before-after {
			width: 225px;
			float: left;

			@media (max-width: 849px) {
				margin-bottom: 20px;
			}
		}
		
		&.disabled {
			filter: grayscale(100%);
        }
        
		@media (min-width: 768px) {
			float: left;
		}
	}

	.list-box-content {
		@media (max-width: 767px) {
			margin-top: 20px;
			padding-left: 0;
		}
		
		.list-box-hr {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}

    .position-label {
    	font-size: 1.1em;
    	float: right;
    }

    .controls {
	    margin-left: 5px;
    	float: right;
    	
    	a {
    		font-size: 18px;
    		color: #1ab394;
    	}
    }
 
    .time {
    	font-size: 12px; 
    	margin-top: 5px;
    }
    

    hr.thin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}