// ==========================================================================
// Screen size variables
// ========================================================================== 

@screen-xs-px:                     480px;
@screen-xs-min:                    @screen-xs-px;
@screen-xs-min-px:                 @screen-xs-px;
@screen-vs-px:                     576px;
@screen-vs-min:                    @screen-vs-px;
@screen-vs-min-px:                 @screen-vs-px;
@screen-sm-px:                     768px;
@screen-sm-min:                    @screen-sm-px;
@screen-sm-min-px:                 @screen-sm-px;
@screen-md-px:                     992px;
@screen-md-min-px:                 @screen-md-px;
@screen-lg-px:                     1200px;
@screen-lg-min:                    @screen-lg-px;
@screen-lg-min-px:                 @screen-lg-px;
@screen-xl-px:                     1600px;
@screen-xl-min:                    @screen-xl-px;
@screen-xl-min-px:                 @screen-xl-px;

@screen-us-max:                    ( @screen-xs-min-px - 1 );
@screen-us-max-px:                 ( @screen-xs-min-px - 1 );
@screen-xs-max:                    ( @screen-vs-min-px - 1 );
@screen-xs-max-px:                 ( @screen-vs-min-px - 1 );
@screen-vs-max:                    ( @screen-sm-min-px - 1 );
@screen-vs-max-px:                 ( @screen-sm-min-px - 1 );
@screen-sm-max:                    ( @screen-md-min-px - 1 );
@screen-sm-max-px:                 ( @screen-md-min-px - 1 );
@screen-md-max:                    ( @screen-lg-min-px - 1 );
@screen-md-max-px:                 ( @screen-lg-min-px - 1 );
@screen-lg-max:                    ( @screen-xl-min-px - 1 );
@screen-lg-max-px:                 ( @screen-xl-min-px - 1 );

// ==========================================================================
// Media queries for different screen sizes
// ==========================================================================


// us only
@screen-us: ~"(max-width:"@screen-us-max-px~")";
// us max
@screen-us-max: ~"(max-width:"@screen-us-max-px~")";
// xs only
@screen-xs: ~"(min-width:"@screen-xs-min-px~") and (max-width:"@screen-xs-max-px~")";
// xs and larger
@screen-xs-min: ~"(min-width:"@screen-xs-min-px~")";
// xs and smaller
@screen-xs-max: ~"(max-width:"@screen-xs-max-px~")";
// vs and larger
@screen-vs-min: ~"(min-width:"@screen-vs-min-px~")";
// vs
@screen-vs: ~"(min-width:"@screen-vs-min-px~") and (max-width:"@screen-vs-max-px~")";
// vs and smaller
@screen-vs-max: ~"(max-width:"@screen-vs-max-px~")";
// sm and larger
@screen-sm-min: ~"(min-width:"@screen-sm-min-px~")";
// sm only
@screen-sm: ~"(min-width:"@screen-sm-min-px~") and (max-width:"@screen-sm-max-px~")";
// sm and smaller
@screen-sm-max: ~"(max-width:"@screen-sm-max-px~")";
// md and larger
@screen-md-min: ~"(min-width:"@screen-md-min-px~")";
// md only
@screen-md: ~"(min-width:"@screen-md-min-px~") and (max-width:"@screen-md-max-px~")";
// md and smaller
@screen-md-max: ~"(max-width:"@screen-md-max-px~")";
// lg and larger
@screen-lg-min: ~"(min-width:"@screen-lg-min-px~")";
// lg only
@screen-lg: ~"(min-width:"@screen-lg-min-px~") and (max-width:"@screen-lg-max-px~")";
// lg and smaller
@screen-lg-max: ~"(max-width:"@screen-lg-max-px~")";

// xl and larger
.screen-xl(@rules) {
    @media (min-width: @screen-xl-min) { @rules(); }
}

//**********************/
//       CONSTANTS
//**********************/

@imagesDir: '../img';
@mainBlack: #333333;
@mainBrown: #663300;
@mainOrange: #ff9933;
@mainGreen: #999933;
@clrWhite: #FFFFFF;
@clrRed: #E04D4D;
@clrGreen: #31d87d;
@clrBeige: #F6EAE2;

.font-delivery-regular {
  font-family: delivery;
}
.font-krsna-regular {
  font-family: krsna;
}
.font-freshbar-script {
  font-family: fresh;
}

.bg-color-beige {
    background-color: @clrBeige;
}

.bg-color-red {
    background-color: @clrRed;
}

.bg-flowers {
    background-image: url(../images/bg-flowers.png);
}

.col-us-12 {
    @media @screen-us {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-vs-4 {
    @media @screen-vs {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

.col-vs-6 {
    @media @screen-vs {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-vs-12 {
    @media @screen-vs {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.breaker-xs-max {
    display: none;

    @media @screen-xs-max {
        display: block;
    }
}

.breaker-us-max {
    display: none;

    @media @screen-us-max {
        display: block;
    }
}

.breaker-410-max {
    display: none;

    @media (max-width: 410px ) {
        display: block;
    }   
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.link {
	color: @mainGreen;
	
	&:hover {
		color: @mainGreen;
		text-decoration: underline;
	}
}

.link-dark {
    color: @mainBlack;

    &:hover {
        color: @mainBlack;
        text-decoration: underline;   
    }
}

.link-still {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.nodrag-noselect {
    pointer-events: none;
    user-select: none;
}

.nopadding {
    padding: 0 !important;
}

.strong {
	font-weight: bold;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

input:hover
input:active, 
input:focus, 
textarea:active,
textarea:hover,
textarea:focus, 
button:focus,
button:active,
button:hover
{
    outline:0px !important;
}

input:focus{
    box-shadow:none !important;
}